{{ header }}

	<div class="maintop-container">

		<div id="information-contact" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-8' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

					<div id="content" class="{{ class }} contact-page">

					<div class="mainborder">

						<header class="page-header">
							<h1>Contact Us</h1>
						</header>

						<form action="{{ action }}" method="post" enctype="multipart/form-data" id="contact-form" class="form-horizontal">
							<fieldset>
								<legend>{{ text_contact }}</legend>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
									<div class="col-sm-9">
										<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
										{% if error_name %}
										<div class="text-danger">{{ error_name }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-company">{{ entry_company }}</label>
									<div class="col-sm-9">
										<input type="text" name="company" value="{{ company }}" id="input-company" class="form-control" />
										{% if error_name %}
										<div class="text-danger">{{ error_name }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
									<div class="col-sm-9">
										<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
										{% if error_email %}
										<div class="text-danger">{{ error_email }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-phone">Phone Number</label>
									<div class="col-sm-9">
										<input type="text" name="phone" value="{{ phone }}" id="input-phone" class="form-control">
                                        {% if error_phone %}
											<div class="text-danger">{{ error_phone }}</div>
                                        {% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
									<div class="col-sm-9">
										<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
										{% if error_enquiry %}
										<div class="text-danger">{{ error_enquiry }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-3 control-label" for="input-files">{{ entry_file }}</label>
									<div class="col-sm-9">
										<label class="multi-files-label" for="multi-files">Drop Files Here</label>
										<input type="file" multiple="multiple" id="multi-files" name="input-files[]" />
									</div>
								</div>
								{{ captcha }}
								<div class="form-group required">
									<div class="col-sm-9 col-sm-offset-3">
										<input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
									</div>
								</div>
							</fieldset>
						</form>

						<legend>{{ text_location }}</legend>

								<div class="row">
									<div class="col-sm-4">
										<strong>{{ store }}</strong><br />
										<address>
                                            {{ address }}
										</address>
                                        {% if geocode %}
											<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                                        {% endif %}
										<strong>{{ text_telephone }}</strong><br>
                                        {{ telephone }}<br />
										<br />
                                        {% if fax %}
											<strong>{{ text_fax }}</strong><br>
                                            {{ fax }}
                                        {% endif %}
									</div>
									<div class="col-sm-8">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2524.221718444565!2d-1.6724966840864979!3d50.75292237340456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487384ae5f4e164f%3A0x4aa7ee67c55b5127!2sSeals+Plus+Direct+Ltd!5e0!3m2!1sen!2suk!4v1534428960793" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
								</div>

                        {% if locations %}

							<legend>{{ text_store }}</legend>

							<div class="panel-group" id="accordion">
                                {% for location in locations %}
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
										</div>
										<div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
											<div class="panel-body">
												<div class="row">
                                                    {% if location.image %}
														<div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>
                                                    {% endif %}
													<div class="col-sm-3"><strong>{{ location.name }}</strong><br />
														<address>
                                                            {{ location.address }}
														</address>
                                                        {% if location.geocode %}
															<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                                                        {% endif %}
													</div>
													<div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>
                                                        {{ location.telephone }}<br />
														<br />
                                                        {% if location.fax %}
															<strong>{{ text_fax }}</strong><br>
                                                            {{ location.fax }}
                                                        {% endif %}
													</div>
													<div class="col-sm-3">
                                                        {% if location.open %}
															<strong>{{ text_open }}</strong><br />
                                                            {{ location.open }}<br />
															<br />
                                                        {% endif %}
                                                        {% if location.comment %}
															<strong>{{ text_comment }}</strong><br />
                                                            {{ location.comment }}
                                                        {% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
                                {% endfor %}
							</div>
                        {% endif %}

					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div>

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

{{ footer }}