{{ header }}

	<div class="maintop-container">

		<div id="information-information" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
            {% elseif meta_id == 8 %}
                {% set class = 'col-sm-12' %}
            {% elseif column_left or column_right %}
				{% set class = 'col-sm-8' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

                {% if meta_id != 8 %}
					{{ column_left }}
                {% endif %}

				<div id="content" class="{{ class }} information-page">

					<div class="mainborder">
						
						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						{{ description }}

                        {% if meta_id == 8 %}
							{% if logged %}
								<h2>Order a hard copy brochure or Samples</h2>
								<div class="detailscol">
									<div class="options">
										<form id="addsamples" action="" method="post" enctype="multipart/form-data">
											<div class="row">

										{% for cat in top_categories %}
											<div class="radio col-md-12">
												<h3 class="sample-title" data-cat="{{ cat.id }}">{{ cat.name }}</h3>
											</div>
											<div class="sample-group" id="cat-{{ cat.id }}">
											{% for sample in cat.samples %}
                                                {% if cat.id == 0 %}
													<div class="radio col-md-12">
                                                {% else %}
													<div class="radio col-md-2">
                                                {% endif %}
													<input id="prod-{{ sample.product_option_id }}-{{ sample.product_option_value_id }}" type="checkbox" name="option[{{ sample.product_option_id }}]" value="{{ sample.product_option_value_id }}" />
													<label for="prod-{{ sample.product_option_id }}-{{ sample.product_option_value_id }}">
														<img src="{{  sample.image50 }}" class="img-thumbnail" >
														<h4>{{ sample.sku}}</h4>
													</label>
												</div>
                                            {% endfor %}
											</div>
                                        {% endfor %}
											</div>
											<div class="row">
												<div class="col-md-6">
													<button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-cart btn-block ">Request</button>
												</div>
											</div>
										</form>
										<script type="text/javascript">
                                            $('#button-cart').on('click', function() {
                                                $.ajax({
                                                    url: 'index.php?route=checkout/cart/addSamples',
                                                    type: 'post',
                                                    data: $('#addsamples input[type=\'text\'], #addsamples input[type=\'hidden\'], #addsamples input[type=\'radio\']:checked, #addsamples input[type=\'checkbox\']:checked, #addsamples select, #addsamples textarea'),
                                                    dataType: 'json',
                                                    beforeSend: function() {
                                                        $('#addsamples #button-cart').button('Loading');
                                                    },
                                                    complete: function() {
                                                        $('#addsamples #button-cart').button('Reset');
                                                    },
                                                    success: function(json) {
                                                        window.location.replace("/index.php?route=checkout/cart");
                                                    }
                                                });
                                            });
                                            </script>
									</div>
								</div>
                            {% else %}
								<h3>Login to Order a hard copy brochure or Samples</h3>
								<form id="login" action="/?route=account/login" method="post" enctype="multipart/form-data">
									<div class="form-group">
										<label class="control-label" for="input-email">E-Mail Address</label>
										<input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label" for="input-password">Password</label>
										<input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control">
									</div>

									<div class="buttons">
										<input type="submit" value="Login" class="btn btn-cart btn-block">
									</div>

									<div class="forgotten"><a href="/index.php?route=account/forgotten">Forgotten Password</a></div>

								</form>
							{% endif %}

                        {% endif %}

                        {% if meta_id == 10 %}
                            {{ content_bottom }}
                        {% endif %}

					</div>

				</div> <!-- #content -->
				
				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->



{{ footer }}