<div class="list-group">

  {% if not logged %}
  <a href="{{ login }}" class="list-group-item">{{ text_login }}</a> <a href="{{ register }}" class="list-group-item">{{ text_register }}</a> <a href="{{ forgotten }}" class="list-group-item">{{ text_forgotten }}</a>
  {% endif %}


  {% if logged %}
    <a href="{{ edit }}" class="list-group-item">{{ text_account }}</a>
    <a href="{{ password }}" class="list-group-item">{{ text_password }}</a>
  {% endif %}

  <a href="{{ address }}" class="list-group-item">{{ text_address }}</a>
  <a href="{{ wishlist }}" class="list-group-item">{{ text_wishlist }}</a>
  <a href="{{ order }}" class="list-group-item">{{ text_order }}</a>
  <a href="{{ compare }}" class="list-group-item">{{ text_compare }}</a>
  <a href="{{ newsletter }}" class="list-group-item">{{ text_newsletter }}</a>

  {% if logged %}
  <a href="{{ logout }}" class="list-group-item">{{ text_logout }}</a>
  {% endif %}

</div>
