{% if(category_str_ids) %}
<h3>{{ relcatprod_title }}</h3>
<div class="row"> 
  {% for category in category_str_ids %}
  {% set class = 'col-xs-6 col-sm-3' %}
  <div class="{{ class }}">
    <div class="product-thumb transition relcatprod-thumb">
      <div class="image"><a href="{{ category['href'] }}" {% if(relcatprod_newwin) %} target="_blank" {% endif %}><img src="{{ category['thumb'] }}" alt="{{ category['name'] }}" title="{{ category['name'] }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ category['href'] }}" {% if(relcatprod_newwin) %} target="_blank" {% endif %}>{{ category['name'] }}</a></h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<style type="text/css">.relcatprod-thumb .caption{min-height:100px !important;}</style>
{% endif %}
