<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-default dropdown-toggle cart-heading"><i class="fa fa-shopping-bag"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu dropdown-menu-right">
    {% if products or vouchers %}
      
      <li>
        <table class="table table-items">
          {% for product in products %}
            <tr>
              <td class="text-center" width="20%">
                {% if product.thumb %}
                  <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                {% endif %}
              </td>
              <td class="text-left" width="70%"><span class="name"><a href="{{ product.href }}">{{ product.name }}</a></span>
                {% if product.option %}
                  {% for option in product.option %}
                      <small>{{ option.value }}</small>
                  {% endfor %}
                {% endif %}
                {% if product.recurring %}
                  - <small>{{ text_recurring }} {{ product.recurring }}</small>
                {% endif %}
                <span class="cart-price">{{ product.total }} ({{ product.quantity }})</span>
              </td>
              <td class="text-center" width="10%"><button type="button" onclick="cart.remove('{{ product.cart_id }}'); $(this).tooltip('destroy')" data-toggle="tooltip" data-placement="left" title="{{ button_remove }}" class="btn btn-remove">&times;</button></td>
            </tr>
          {% endfor %}
          {% for voucher in vouchers %}
            <tr>
              <td class="text-center"></td>
              <td class="text-left">{{ voucher.description }} <br> <span class="badge">1</span> {{ voucher.amount }}</td>
              <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}'); $(this).tooltip('destroy');" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove">&times;</button></td>
            </tr>
          {% endfor %}
        </table>
        <div class="cart-summary">
          <table class="table totals">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
          <div class="text-right">
            <a href="{{ checkout }}" class="btn btn-cart btn-block"> {{ text_checkout }}</a>
            <a href="{{ cart }}" class="btn btn-default btn-block">{{ text_cart }}</a>
          </div>
        </div>
      </li>
    
    {% else %}

      <li>
        <p class="empty white text-center">{{ text_empty }}</p>
      </li>
    
    {% endif %}
  </ul>
</div>
