{% if modules %}
	<aside id="column-left" class="col-sm-4 hidden-xs sidebar">
		<div class="inner">
		  {% for module in modules %}
		  	{{ module }}
		  {% endfor %}
		</div>
	</aside>
{% endif %}