{% for gfont in googlefonts %}
	<link href='//fonts.googleapis.com/css?family={{ gfont }}:400,300,200,700,800,500{{ cyrillic }}&amp;v1' rel='stylesheet' type='text/css' />
{% endfor %}

	<style type="text/css" media="screen">

		body {
			
		{% if clearshop_custom_image != '' %}
			background-image: url("{{ base}}{{ clearshop_custom_image}}");
			background-position: top center;
			background-repeat: no-repeat;
		{% elseif clearshop_custom_pattern !='' %}
			background-image: url("{{ base  }} {{ clearshop_custom_pattern }}");
		{% elseif clearshop_pattern_overlay !='none' %}
			background-image: url("catalog/view/theme/clearshop/image/patterns/{{ clearshop_pattern_overlay }}.png");
		{% else %}
			background-image: none;
		{% endif %}

		}

		{% if clearshop_responsive_layout == 'normal' %}
			body.responsive .container { max-width: 982px !important; }
		{% endif %}

		{% if clearshop_custom_colors == 1 %}

			{% if bodybg_color != '' %}
				body.boxed-skin {
					background-color: {{ bodybg_color }};
				}
			{% endif %}
			{% if topbar_bg != '' %}
				#thickbar {
					background: {{ topbar_bg }};
				}
			{% endif %}
			{% if menu_color != '' %}
				.navbar .nav > li > a {
					color: {{ menu_color }};
				}
			{% endif %}
			{% if menu_hover != '' %}
				.navbar .nav > li:hover > a, .navbar .nav > li > a:hover,
				#menu.navbar-dark .navbar .nav > li > a:hover,
				#menu.navbar-dark .navbar .nav > li:hover > a {
					color: {{ menu_hover }};
				}
			{% endif %}
			{% if dropdown_color != '' %}
				#header .navbar .dropdown-menu li>a {
					color: {{ dropdown_color }};
				}
			{% endif %}
			{% if dropdown_hover != '' %}
				#header .navbar .dropdown-menu li>a:hover, .navbar .dropdown-menu li>a:focus, .navbar .dropdown-submenu:hover>a {
					color: {{ dropdown_hover }};
				}
			{% endif %}

			{% if title_color != '' %}
				.page-header h1,
				.page-header h1 a {
					color: {{ title_color }} !important;
				}
			{% endif %}
			{% if content_links != '' %}
				.mainborder a {
					color: {{ content_links }};	
				}
			{% endif %}
			{% if bodytext_color != '' %}
				.mainborder, .mainborder .nav-tabs > li > a, 
				.category-list a, .product-page, #continue-shopping,
				.maintop-container, .product-details {
					color: {{ bodytext_color }};
				}
			{% endif %}
			{% if lighttext_color != '' %}
				.breadcrumb, .breadcrumb a, .pagination .results, .product-page .price-tax, .product-page .price .reward {
					color: {{ lighttext_color }};
				}
			{% endif %}
			{% if footer_text != '' %}
			#footer, #footer h3 {
				color: {{ footer_text }};
			}
			{% endif %}
			{% if footer_links != '' %}
			#footer a, #footer a:link, #footer a:visited {
				color: {{ footer_links }};
			}
			{% endif %}

			{% if btninver_normal != '' %}
				.btn-primary,
				a.btn-primary,
				.mainborder a.btn-primary,
				.btn-primary.disabled,
				.btn-primary.disabled:hover,
				.btn-primary[disabled] {
					border-color: {{ btninver_normal }};
					color: {{ btninver_normal }};
					background: transparent;
				}

				.btn-primary:hover,
				a.btn-primary:hover,
				.btn-primary:focus,
				.btn-primary.focus,
				.btn-primary.active,
				.btn-primary:active,
				.btn-primary:active:hover,
				.btn-primary.active:hover,
				.btn-primary:active:focus,
				.btn-primary.active:focus,
				.btn-primary:active.focus, 
				.btn-primary.active.focus,
				.btn-primary.disabled,
				.btn-primary[disabled] {
					border-color: {{ btninver_normal }};
					background-color: {{ btninver_normal }};
					color: #fff;
				}
			{% endif %}

			{% if btncart_normal != '' %}
				.payment .right .button,
				.btn-cart,
				a.btn-cart,
				.mainborder a.btn-cart,
				#button-confirm {
					border-color: {{ btncart_normal }};
					background-color: {{ btncart_normal }};
				}
				.payment .right .button:hover,
				.payment .right .button:active,
				.payment .right .button:focus,
				.btn-cart:hover,
				.btn-cart:active,
				.btn-cart:focus,
				a.btn-cart:hover,
				a.btn-cart:active,
				a.btn-cart:focus,
				#button-confirm:hover {
					border-color: {{ btncart_normal }};
					color: {{ btncart_normal }};
					background: transparent;
				}
				.owl-controls .owl-page.active span,
				.tp-bullets.simplebullets.round div.bullet.selected {
					background-color: {{ btncart_normal }} !important;
					border-color: {{ btncart_normal }} !important;
				}
				
			{% endif %}

			{% if product_name_color != '' %}
			.product-thumb .name a,  .product-slider .name a  {
				color: {{ product_name_color }};	
			}
			{% endif %}
			{% if normal_price != '' %}
			.product-thumb .price, .product-slider .price, .product-page .price-normal {
				color: {{ normal_price }};	
			}
			{% endif %}
			{% if old_price != '' %}
			.price-old {
				color: {{ old_price }};	
			}
			{% endif %}
			{% if new_price != '' %}
			.price-new {
				color: {{ new_price }};	
			}
			{% endif %}
			{% if onsale_bg != '' or onsale_text != '' %}
			.onsale span {
				background-color: {{ onsale_bg }};
			}
			{% endif %}
			{% if sidebar_active_menu != '' %}
			.box-category > ul > li a.active {
				color: {{ sidebar_active_menu }};
			}
			{% endif %}
	
		{% endif %} /*clearshop_custom_colors END*/

		{% if clearshop_zoom_position == 'inside' %}
			.cloud-zoom-big { left:0 !important; }
		{% endif %}

		{% if clearshop_display_cart_button == 1 %}
			.product-thumb .cart .btn,
			.product-slider .item .cart .btn,
			.product-thumb .links,
			.product-slider .item .links {
				opacity: 1;
				-moz-opacity: 1;
				filter: alpha(opacity=100);
			}
		{% endif %}

		{% if clearshop_quickview_modules != 1 %}
			.content-top .quickview, .content-bottom .quickview { display:none !important; }
		{% endif %}

		{% if clearshop_quickview_mobile != 1 %}
			@media only screen and (max-width: 767px) {
				.quickview { display:none !important; }
			}
		{% endif %}

		{% if clearshop_quickview_categories != 1 %}
			#content .quickview { display:none !important; }
		{% endif %}

		{% if clearshop_show_wishlist != 1 %}
			.wishlist, .wishlist-link, #wishlist-total { display:none !important; }
		{% endif %}

		{% if clearshop_show_compare != 1 %}
			.compare, .product-compare { display:none !important; }
		{% endif %}

		{% if clearshop_show_sale_bubble != 1 %}
			.onsale { display:none !important; }
		{% endif %}

		/*body font*/

		{% if clearshop_body_font != '' %}
			{% set clearshop_body_font = clearshop_body_font|replace({'+': ' '}) %}
			body, p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .cart .btn, .btn { 
				font-family: '{{ clearshop_body_font }}'; 
			}
			body, p { 
				font-size: {{ clearshop_body_font_size }}px;
			}
		{% endif %}

		/*title font*/

		{% if clearshop_title_font != '' %}
		{% set clearshop_title_font = clearshop_title_font|replace({'+': ' '}) %}
			h1,
			.tp-button, .tp-button:hover, .tp-button:focus,
			div.tp-caption.bignumbers_white,
			div.tp-caption.light_heavy_70_shadowed {
				font-family: '{{ clearshop_title_font }}'; 
			}
			h1 {
				font-size: {{ clearshop_title_font_size }}px;
			}
		{% endif %}

		/*small font*/

		{% if clearshop_small_font != '' %}
		{% set clearshop_small_font = clearshop_small_font|replace({'+': ' '}) %}
		small, .wishlist a, .compare a, .remove a, .product-compare, .product-filter, .product-filter .display li, .product-list .price-tax, .product-page .price-tax, .product-page .price .reward, .product-page .minimum, .product-page .tags a, .review-date, span.error, #copy, #footer .info, .breadcrumb a, .pagination .results, .help {
			font-family: '{{ clearshop_small_font }}';
		}
		{% endif %}

		{% if clearshop_custom_css_status == 1 %}
			{{ clearshop_custom_css }}
		{% endif %}

	</style>

	{% if clearshop_custom_stylesheet == 1 %}
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/clearshop/stylesheet/custom.css"  media="screen" />
{% endif %}