</div> <!-- #content_wrapper -->

<div id="footer">

	<div class="container">

        {{ footer_modules }}

		<div class="row">

			<div class="col-sm-3">

				<img class="brand" src="/image/catalog/seals-direct-brand.png" alt="Seals Direct" />

				<div class="address">Unit 6, Milton Business Centre<br />Wick Drive, New Milton, Hants. BH25 6RH</div>
				<div class="contactdetails">T. +44 (0)1425 617722<br />F. +44 (0)1425 610967<br /><a href="mailto:sales@sealsplusdirect.co.uk">sales@sealsplusdirect.co.uk</a></div>

				<div class="social">

                    {% if clearshop_social_footer == 1 %}

						<div class="social">

                            {% if clearshop_social %}
                                {% for key,value in clearshop_social %}
                                    {% if value.url %}
										<a href="{{ value.url }}" class="fa fa-{{ value.class }}" target="{{ value.target}}"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if clearshop_custom_icon %}
                                {% for key,value in clearshop_custom_icon %}
                                    {% if value.class != '' %}
                                        {% if value.class != '' %}
											<a href="{{ value.url }}" class="fa fa-{{ value.class }}" target="{{ value.target}}"></a>
                                        {% else %}
											<a class="fa fa-{{ value.class }}"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

						</div>

                    {% endif %}

					<div class="footer_info">
                        {{ clearshop_footer_info_text }}
					</div>

				</div>

			</div>

			<div class="column col-sm-2">
				<ul class="content">
					<li><a href="/index.php?route=product/category&path=71">Product List</a></li>
					<li><a href="/technical-help">Technical Help</a></li>
					<li><a href="/testimonials">Testimonials</a></li>
					<li><a href="/about-us">About Us</a></li>
					<li><a href="/?route=information/contact">Contact Us</a></li>
					<li><a href="/?route=product/compare">Compare Products</a></li>
					<li><a href="/?route=account/login">Login</a></li>
					<li><a href="/?route=account/account">Account</a></li>
				</ul>
			</div>

			<div class="column col-sm-4">
				<ul class="content">
					<li><a href="/index.php?route=product/category&path=71_73">Caravan and Motorhome Seals</a></li>
					<li><a href="/index.php?route=product/category&path=71_72">Window Rubbers &amp; Hatchseals</a></li>
					<li><a href="/index.php?route=product/category&path=71_76">Edge Trims &amp; Seals</a></li>
					<li><a href="/index.php?route=product/category&path=71_74">Rubber Extrusions</a></li>
					<li><a href="/index.php?route=product/category&path=71_77">Seals for UPVC, wood and ali windows &amp; Doors</a></li>
					<li><a href="/index.php?route=product/category&path=71_75">Sponge Seals</a></li>
					<li><a href="/index.php?route=product/category&path=71_78">Solid Rubber</a></li>
					<li><a href="/index.php?route=product/category&path=71_82">Watertight Door and Hatch Seals</a></li>
				</ul>
			</div>

			<div class="column col-sm-3">
				<ul class="content">
					<li><a href="/index.php?route=product/category&path=71_79">Rubber &amp; PVC Fenders</a></li>
					<li><a href="/index.php?route=product/category&path=71_81">Adhesives &amp; Sealants</a></li>
					<li><a href="/index.php?route=product/category&path=71_80">Automotive Seals &amp; Trims</a></li>
					<li><a href="/index.php?route=product/category&path=71_83">Tools</a></li>
					<li><a href="/index.php?route=product/category&path=71_84">Hose</a></li>
					<li><a href="/index.php?route=product/category&path=71_86">Equine</a></li>
					<li><a href="/index.php?route=product/category&path=71_85">Miscellaneous</a></li>
				</ul>
			</div>

		</div> <!-- .row -->

	</div> <!-- .container -->

</div> <!-- #footer -->

<footer id="footend">

	<div class="container">

		<div class="copy">
            {{ clearshop_copyright }}
		</div>

	</div> <!-- .container -->

</footer> <!-- #footend -->

<div class="container">
	<div class="cpinfo">
		<p>All text, images and photos are copyright © and the property of Seals + Direct Ltd. They must not be reproduced without prior permission.</p>
	</div>
</div>

</div> <!-- #supercontainer -->

<script type="text/javascript" src="catalog/view/theme/clearshop/js/respond.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/clearshop/js/jquery.easing-1.3.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/clearshop/js/cloud-zoom.1.0.3-min.js"></script>
<script type="text/javascript" src="catalog/view/theme/clearshop/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="catalog/view/theme/clearshop/js/custom.js"></script>

{% if clearshop_custom_js_status == 1 and clearshop_custom_js != '' %}
    {{ clearshop_custom_js }}
{% endif %}

</body></html>