<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }} " lang="{{ lang }} " class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }} " lang="{{ lang }} " class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }} " lang="{{ lang }} ">
<!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ title }} </title>

	<base href="{{ base }}" />

	{% if description %}
	<meta name="description" content="{{ description }}" />
	{% endif %}

	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}" />
	{% endif %}

	{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
	{% endfor %}

	{% for link in links %}
	<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}

	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

	<link href="catalog/view/theme/clearshop/stylesheet/jasny-bootstrap.min.css" rel="stylesheet" media="screen" />
	<script src="catalog/view/theme/clearshop/js/jasny-bootstrap.min.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="catalog/view/theme/clearshop/stylesheet/stylesheet.css"/>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/clearshop/stylesheet/stylesheet-responsive.css" media="screen"/>

	{% if direction == 'rtl' %}
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/clearshop/stylesheet/stylesheet.rtl.css" media="screen" />
	{% endif %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	<script type="text/javascript" src="catalog/view/theme/clearshop/js/jquery.magnific-popup.min.js"></script>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/clearshop/stylesheet/magnific-popup.css" media="screen" />
	<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
	<script async="true" type="text/javascript" src="https://s.adroll.com/j/roundtrip.js"></script>


	<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

	<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" media="screen"/>

	{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
	{% endfor %}

	{% for analytic in analytics %}
	{{ analytic }}
	{% endfor %}

	{% set base_class = '' %}

	{% if clearshop_skins != '' %}
		{% set base_class = clearshop_skins ~ '-skin' %}
	{% endif %}

	{% if body_classes %}
		{% set base_class = base_class ~ body_classes %}
	{% endif %}

	{{ include('clearshop/template/common/custom_styles.twig') }}

</head>

{% set lang = language %} 

<body class="{{ base_class }} ">
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10623017-27']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script type="text/javascript">
    adroll_adv_id = "LGICERAQMVC2HNIEBBLIO2";
    adroll_pix_id = "KP47UJGL55FM7DW2OOUIJL";
    (function () {
        var oldonload = window.onload;
        window.onload = function(){
            __adroll_loaded=true;
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            if(oldonload){oldonload()}};
    }());
</script>

{{ include('clearshop/template/common/menumob.twig') }}

<div id="supercontainer" class="topcanvas">

	<div id="thickbar"></div>

	<header id="header">

		<div class="container">

			<div class="row">

				<div id="nav-contact" class="col-sm-6 col-sm-offset-6">
					<a href="tel:01425617722"><i style="font-size:18px;	line-height: 30px;" class="fa fa-phone-square"></i> +44 (0)1425 617722</a>
					<a href="mailto:sales@sealsplusdirect.co.uk"><i style="font-size:18px;	line-height: 30px;" class="fa fa-envelope-square"></i> sales@sealsplusdirect.co.uk</a>
				</div>

			</div> <!-- .leftlogo -->

			<div class="row {{ clearshop_logo_position }}">

				<div id="logo" class="col-sm-4 col-xs-6 {% if clearshop_logo_position == 'center' %} col-md-4 col-sm-push-4 {% else %} col-md-3 {% endif %}">
					{% if logo %}
						<a href="{{ home }}" class="logo"><img src="{{ logo }} " alt="{{ name }} " class="img-responsive" /></a>
					{% else %}
						<a href="{{ home }}" class="logo"><img src="catalog/view/theme/clearshop/image/logo.png" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
					{% endif %}
				</div> <!-- #logo -->

				<div class="col-xs-3 leftbox {% if clearshop_logo_position == 'center' %} col-sm-4 col-sm-pull-4 {% else %} col-md-6 col-sm-5 {% endif %}">

					<div class="search-area">
						{{ search }}
					</div>

					{% if clearshop_header_info_text|striptags != '' %}
											
						<div class="header-info owl-carousel {% if clearshop_logo_position == 'center' %} hidden-sm {% endif %} hidden-xs">
							{{ clearshop_header_info_text }}
						</div>

						<script type="text/javascript">
						$('.header-info').owlCarousel({
							items:6,
							singleItem: true,
							loop: true,
							autoPlay: 3000,
							navigation: false,
							pagination: false,
							transitionStyle: "fade"
						});
						</script>

					{% endif %}

				</div> <!-- .middlebox -->

				<div class="col-xs-6 rightbox {% if clearshop_logo_position == 'center' %} col-sm-4 {% else %} col-sm-3 {% endif %}">

					<button type="button" class="btn btn-menu visible-sm-inline visible-xs-inline" onclick="$('.topcanvas').addClass('canvas-slid');" data-toggle="offcanvas" data-target="#mobmenu" data-disable-scrolling="true" data-modal="true" ><i class="fa fa-bars"></i></button>

					<button type="button" class="search-trigger btn btn-link btn-header visible-xs-inline">
						<i class="fa fa-search"></i>
					</button>

					<div id="top-links" class="btn-group dropdown hidden-sm hidden-xs">

						<a href="{{ account }} " title="{{ text_account }} " class="btn btn-link dropdown-toggle myaccount" data-toggle="dropdown">
                            {% if logged %}
								<p class="account-name">{{ logged_name }}</p>
                            {% endif %}
							<i class="fa fa-user-o"></i></a>
						<ul class="dropdown-menu dropdown-menu-right">
                            {% if logged %}
								<li><a href="{{ account }} ">{{ text_account }} </a></li>
								<li><a href="{{ order }} ">{{ text_order }} </a></li>
								<li><a href="{{ logout }} "><i class="fa fa-sign-out"></i> {{ text_logout }} </a></li>
                            {% else %}
								<li><a href="{{ register }} ">{{ text_register }} </a></li>
								<li><a href="{{ login }} ">{{ text_login }} </a></li>
                            {% endif %}
							<li class="divider wishlist"></li>
							<li><a href="{{ wishlist }} " id="wishlist-total" title="{{ text_wishlist }} " class="wishlist"><i class="fa fa-heart-o"></i> <span>{{ text_wishlist }} </span></a></li>
						</ul>
					</div>

					{{ cart }}
					
				</div>
				
			</div> <!-- .leftlogo -->

		</div>

		{{ include('clearshop/template/common/menudesk.twig') }}

		{% if clearshop_sticky_menu == 1 %}

		<script type="text/javascript">
			var startPosition = 101;
			var contentMargin =  28;

			$(window).scroll(function() {
				if($(window).scrollTop() > startPosition) {
					width = $('.container #menu').width();
					height = $('.container #menu').height();
					//$('#menu .navbar').addClass('navbar-fixed-top')
					$('#menu .navcontainer').addClass('container')
					$('#cart').addClass('fixed')
				} else {
					//$('#menu .navbar').removeClass('navbar-fixed-top');
					$('#menu .navcontainer').removeClass('container')
					$('#cart').removeClass('fixed');
				}
			}); 
		</script>

		{% endif %}

	</header> <!-- #header -->

	<div id="content-wrapper">
			