{{ header }}

{% if column_left and column_right %}
	{% set class = 'col-sm-6 middle sideleft' %}
{% elseif column_left or column_right %}
	{% set class = 'col-sm-9' %}
{% else %}
	{% set class = 'col-sm-12' %}
{% endif %}

	<div class="container"><div id="notification" class="home"></div></div>
	
	<div class="maintop-container" class="home">

		<div id="common-home" class="container">

			{{ home_top }}

			<div class="row">

				{{ column_left }}
				
				<div id="content" class="{{ class }}">

					<div class="mainborder">

						{{ content_top }}
							
					</div>
					
				</div>
				
				{{ column_right }}

			</div>

		</div> <!-- .container -->

		<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/index.php?route=information/contact" method="post" enctype="multipart/form-data" id="contact-form" class="form-horizontal">
						<fieldset>
							<legend>Contact Us</legend>
							<div class="form-group required">
								<label class="col-sm-3 control-label" for="input-name">Your Name</label>
								<div class="col-sm-9">
									<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-3 control-label" for="input-email">E-Mail Address</label>
								<div class="col-sm-9">
									<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-3 control-label" for="input-phone">Phone Number</label>
								<div class="col-sm-9">
									<input type="text" name="phone" value="{{ phone }}" id="input-phone" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-3 control-label" for="input-enquiry">Enquiry</label>
								<div class="col-sm-9">
									<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group required">
								<label class="col-sm-3 control-label"  for="input-files">Files</label>
								<div class="col-sm-9">
									<input type="file" multiple name="input-files[]">
								</div>
							</div>
                            {{ captcha }}
							<div class="form-group required">
								<div class="col-sm-9 col-sm-offset-3">
									<input class="btn btn-primary" type="submit" value="Submit">
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

{{ footer }}