{{ header }}

	<div class="maintop-container">
		<div id="common-maintenance" class="container">
	
			<div id="content" class="row maintenance">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="maintenance-msg">
							{{ message }}
					</div>
				</div>
			</div>

		</div> <!-- .container -->
	</div> <!-- #maintop-container -->

{{ footer }}