<div id="menu">

	<div class="container">

		<nav class="navbar navbar-default hidden-sm hidden-xs" role="navigation">

			<div class="navcontainer">

				<div class="navbar-header">
					<a class="navbar-brand" href="{{ home }}">
					 {% if logo %}
						<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" />
					{% else %}
						<img src="catalog/view/theme/clearshop/image/logo.png" title="{{ name }}" alt="{{ name }}" />
					{% endif %}
					</a>
				</div>

				<div class="navbar-collapse">

					<ul class="nav navbar-nav">

						<!-- Home link -->

						<li class="home home-{{ clearshop_homepage_link_style }}"><a href="{{ home }}" title="{{ text_home }}"><i class="fa fa-home"></i> <span>{{ text_home }}</span></a></li>

						{{ menu }}						

					</ul>

					{% if clearshop_sticky_menu == 1 %}

						<ul class="nav navbar-nav navbar-right">
							{{ cart }}
						</ul>
					
					{% endif %}

				</div>

			</div>

		</nav><!-- #navbar -->

	</div>

</div>