{# mobile menu file for header.twig #}
{% if direction =='rtl' %}
	{% set position = "navmenu-fixed-right" %}
{% else %}
	{% set position = "navmenu-fixed-left" %}
{% endif %}

<nav id="mobmenu" class="navbar navbar-default navmenu {{ position }} offcanvas offcanvas-sm offcanvas-md hidden-lg" role="navigation">

	<div class="navcontainer">

		<div class="navbar-collapse">

				<ul class="nav navbar-nav">

					<li><a class="closesidebar" onclick="$('#mobmenu').offcanvas('hide');" data-toggle="tooltip" data-placement="left" title="Close"><i class="fa fa-angle-left"></i></a></li>

					{% if logged %}

					<li class="dropdown login-options">
						<div class="btn-group wishlist" role="group" aria-label="...">
							<a href="{{ wishlist }}" class="btn btn-default"><i class="fa fa-heart-o"></i>&nbsp; {{ text_wishlist }}</a>
						</div>
					</li>
					<li class="dropdown account-options">
					
						<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> {{ text_welcome }}, {{ customer_firstname }} <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="{{ account }}">{{ text_account }}</a></li>
							<li><a href="{{ order }}">{{ text_order }}</a></li>
							<li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
							<li><a href="{{ download }}">{{ text_download }}</a></li>
							<li><a href="{{ logout }}"><i class="fa fa-sign-out"></i> {{ text_logout }}</a></li>
						 </ul>
					</li>

					{% else %}

					<li class="dropdown login-options">
						<div class="btn-group" role="group" aria-label="...">
							<a href="{{ register }}" class="btn btn-default"><i class="fa fa-user-circle-o"></i> {{ text_register }}</a>
							<a href="{{ login }}" class="btn btn-default">{{ text_login }}</a>
						</div>
					</li>
					
					{% endif %}

				{{ menu }}

				<li>
					<div class="clearfix browse-options">
						{{ lang }}
						{{ currency }}
					</div>
				</li>

				<li>

					<div class="social">

					{% if clearshop_social %}
						{% for key,value in clearshop_social %}
						{% if value.url %}
							<a href="{{ value.url }}" class="fa fa-{{ value.class }}" target="{{ value.target}}"></a>
							{% endif %}
						{% endfor %}
					{% endif %}

					{% if clearshop_custom_icon %}
						{% for key,value in clearshop_custom_icon %}
							{% if value.class != '' %}
								{% if value.class != '' %}
									<a href="{{ value.url }}" class="fa fa-{{ value.class }}" target="{{ value.target}}"></a>
								{% else %}
									<a class="fa fa-{{ value.class }}"></a>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}

					</div>

				</li>

			</ul>

		</div>

	</div>

</nav><!-- #navbar -->