<div id="search" class="search-field">
	<div class="input-group">
	  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
	  <span class="input-group-btn">
	    <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
	  </span>
	  <div class="search-area-close"><a href="#">&times;</a></div>
	</div>
</div>