{{ header }}

<div class="maintop-container">

	<div id="information-information" class="container">

        {{ content_top }}

		<ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
		</ul>

        {% if column_left and column_right %}
            {% set class = 'col-sm-6 middle sideleft' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-8' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

		<div class="row">

            {{ column_left }}

			<div id="content" class="{{ class }} information-page">

				<div class="mainborder">

					<header class="page-header">
						<h1>{{ heading_title }}</h1>
					</header>

                    {{ description }}

				</div>

			</div> <!-- #content -->

            {{ column_right }}

		</div> <!-- .row -->

	</div> <!-- .container -->

</div> <!-- #maintop-container -->

{{ content_bottom }}

{{ footer }}