<div>{{description}}</div>

{% if purchase_order %}
  <fieldset class="form-horizontal">
    <legend>{{text_purchase_order}}</legend>
    <div class="po_alert alert alert-danger warning" style="display:none"><i class="fa fa-exclamation-circle"></i> {{purchase_order_required}}</div>
    <div id="po_form_group" class="form-group{% if purchase_order == 'required' %} required{% endif %}">
      <label class="col-sm-3 control-label" for="input-po">{{entry_purchase_order}}</label>
      <div class="col-sm-5">
        <input name="purchase_order_number" value="" id="input-po" class="form-control" type="text">
      </div>
    </div>
  </fieldset>
{% endif %}

<div class="buttons">
  <div class="pull-right right">
    <input type="button" value="{{button_confirm}}" id="button-confirm" class="button btn btn-primary" data-loading-text="{{text_loading}}" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
  {% if purchase_order == 'required' %}
    $('.po_alert').hide(0);
    if (!$('input[name=purchase_order_number]').val()) {
      $('.po_alert').fadeIn();
      $('#po_form_group').addClass('has-error');
      return;
    }
  {% endif %}
	$.ajax({
		type: 'get',
		url: 'index.php?route=payment/invoicepay/confirm',
    {% if purchase_order %}
    data: {po_number: $('input[name=purchase_order_number]').val()},
    {% endif %}
		cache: false,
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function() {
			location = '{{continue}}';
		}
	});
});
//--></script>