{{ header }}

	<div class="maintop-container">

		<div id="account-account" class="container">

		{{ content_top }}
		
		<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
		</ul>
		
		{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
		{% endif %}

		{% if column_left and column_right %}id="account-account"
			{% set class = 'col-sm-6 middle sideleft' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
			
	<div class="row">

		{{ column_left }}

		<div id="content" class="{{ class }}">

			<div class="mainborder">

				<header class="page-header">
					<h1>{{ heading_title }}</h1>
				</header>

				<div class="row">

					<div class="col-sm-12">
					
						<legend><i class="fa fa-user-circle-o"></i> {{ text_my_account }}</legend>

						<ul class="list-unstyled">
							<li><a href="{{ edit }}">{{ text_edit }}</a></li>
							<li><a href="{{ password }}">{{ text_password }}</a></li>
							<li><a href="{{ address }}">{{ text_address }}</a></li>
							<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
							<li><a href="{{ order }}">{{ text_order }}</a></li>
						</ul>

					</div>
				</div>

			</div>

		</div> <!-- #content -->

		{{ column_right }}

	</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}
	
{{ footer }}