{{ header }}

	<div class="maintop-container">

		<div id="account-address" class="container">

			{{ content_top }}
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if success %}
			<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
			{% endif %}
			{% if error_warning %}
			<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
			{% endif %}

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<div class="contentset"><i class="icon-map-marker"></i> {{ text_address_book }}</div>

						<div id="address-list">

							{% if addresses %}
								
								<table class="table table-hover">
									{% for result in addresses %}
									<tr>
										<td class="text-left">{{ result.address }}</td>
										<td class="text-right"><a href="{{ result.update }}" class="btn btn-default">{{ button_edit }}</a> &nbsp; <a href="{{ result.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-remove">&times;</a></td>
									</tr>
									{% endfor %}
								</table>
							 
							{% else %}

								<div class="content empty">
									<p>{{ text_empty }}</p>
								</div>

							{% endif %}

						</div>

						<div class="buttons clearfix">
							<a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a>
						</div>
					
					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->


	{{ content_bottom }}
	
{{ footer }}