{{ header }}

  <div class="maintop-container">

    <div id="account-affiliate" class="container">

    {{ content_top }}

    <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
    </ul>

    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}

    {% if column_left and column_right %}
      {% set class = 'col-sm-6 middle sideleft' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
  
  <div class="row">

    {{ column_left }}

    <div id="content" class="{{ class }}">

      <div class="mainborder">

        <header class="page-header">
          <h1>{{ heading_title }}</h1>
        </header>

        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <legend>{{ text_my_affiliate }}</legend>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-company">{{ entry_company }}</label>
              <div class="col-sm-10">
                <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-website">{{ entry_website }}</label>
              <div class="col-sm-10">
                <input type="text" name="website" value="{{ website }}" placeholder="{{ entry_website }}" id="input-website" class="form-control" />
              </div>
            </div>
         </fieldset>   
         <fieldset>
            <legend>{{ text_payment }}</legend>          
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-tax">{{ entry_tax }}</label>
              <div class="col-sm-10">
                <input type="text" name="tax" value="{{ tax }}" placeholder="{{ entry_tax }}" id="input-tax" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ entry_payment }}</label>
              <div class="col-sm-10">
                <div class="radio">
                  <label>{% if payment == 'cheque' %}
                    <input type="radio" name="payment" value="cheque" checked="checked" />
                    {% else %}
                    <input type="radio" name="payment" value="cheque" />
                    {% endif %}
                    {{ text_cheque }}</label>
                </div>
                <div class="radio">
                  <label>{% if payment == 'paypal' %}
                    <input type="radio" name="payment" value="paypal" checked="checked" />
                    {% else %}
                    <input type="radio" name="payment" value="paypal" />
                    {% endif %}
                    {{ text_paypal }}</label>
                </div>
                <div class="radio">
                  <label>{% if payment == 'bank' %}
                    <input type="radio" name="payment" value="bank" checked="checked" />
                    {% else %}
                    <input type="radio" name="payment" value="bank" />
                    {% endif %}
                    {{ text_bank }}</label>
                </div>
              </div>
            </div>
            <div class="form-group payment" id="payment-cheque">
              <label class="col-sm-2 control-label" for="input-cheque">{{ entry_cheque }}</label>
              <div class="col-sm-10">
                <input type="text" name="cheque" value="{{ cheque }}" placeholder="{{ entry_cheque }}" id="input-cheque" class="form-control" />
                {% if error_cheque %}
                <div class="text-danger">{{ error_cheque }}</div>
                {% endif %}              
              </div>
            </div>
            <div class="form-group payment" id="payment-paypal">
              <label class="col-sm-2 control-label" for="input-paypal">{{ entry_paypal }}</label>
              <div class="col-sm-10">
                <input type="text" name="paypal" value="{{ paypal }}" placeholder="{{ entry_paypal }}" id="input-paypal" class="form-control" />
                {% if error_paypal %}
                <div class="text-danger">{{ error_paypal }}</div>
                {% endif %}
              </div>
            </div>
            <div class="payment" id="payment-bank">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bank-name">{{ entry_bank_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="bank_name" value="{{ bank_name }}" placeholder="{{ entry_bank_name }}" id="input-bank-name" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bank-branch-number">{{ entry_bank_branch_number }}</label>
                <div class="col-sm-10">
                  <input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" placeholder="{{ entry_bank_branch_number }}" id="input-bank-branch-number" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bank-swift-code">{{ entry_bank_swift_code }}</label>
                <div class="col-sm-10">
                  <input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" placeholder="{{ entry_bank_swift_code }}" id="input-bank-swift-code" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bank-account-name">{{ entry_bank_account_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="bank_account_name" value="{{ bank_account_name }}" placeholder="{{ entry_bank_account_name }}" id="input-bank-account-name" class="form-control" />
                  {% if error_bank_account_name %}
                  <div class="text-danger">{{ error_bank_account_name }}</div>
                  {% endif %}            
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bank-account-number">{{ entry_bank_account_number }}</label>
                <div class="col-sm-10">
                  <input type="text" name="bank_account_number" value="{{ bank_account_number }}" placeholder="{{ entry_bank_account_number }}" id="input-bank-account-number" class="form-control" />
                  {% if error_bank_account_number %}
                  <div class="text-danger">{{ error_bank_account_number }}</div>
                  {% endif %}              
                </div>
              </div>
            </div>
            {% for custom_field in custom_fields %}
            {% if custom_field.location == 'affiliate' %}
            {% if custom_field.type == 'select' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for custom_field_value in custom_field.custom_field_value %}
                  {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
                  <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                  {% else %}
                  <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'radio' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <div>
                  {% for custom_field_value in custom_field.custom_field_value %}
                  <div class="radio">
                    {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
                    <label>
                      <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                      {{ custom_field_value.name }}</label>
                    {% else %}
                    <label>
                      <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                      {{ custom_field_value.name }}</label>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'checkbox' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <div>
                  {% for custom_field_value in custom_field.custom_field_value %}
                  <div class="checkbox">
                    {% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in affiliate_custom_field[custom_field.custom_field_id] %}
                    <label>
                      <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                      {{ custom_field_value.name }}</label>
                    {% else %}
                    <label>
                      <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                      {{ custom_field_value.name }}</label>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'text' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'textarea' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'file' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }} {% endif %}" />
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'date' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <div class="input-group date">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <div class="input-group time">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <label class="col-sm-2 control-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
              <div class="col-sm-10">
                <div class="input-group datetime">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %} 
            

                            
          </fieldset>
          
          {% if text_agree %}
          <div class="buttons clearfix">
            <div class="pull-right">{{ text_agree }}
              {% if agree %}
              <input type="checkbox" name="agree" value="1" checked="checked" />
              {% else %}
              <input type="checkbox" name="agree" value="1" />
              {% endif %}
              &nbsp;
              <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
            </div>
          </div>
          {% else %}
          <div class="buttons clearfix">
            <div class="pull-right">
              <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
            </div>
          </div>
          {% endif %}
        </form>

      </div>

    </div> <!-- #content -->

    {{ column_right }}

  </div> <!-- .row -->

    </div> <!-- .container -->

  </div> <!-- #maintop-container -->

  {{ content_bottom }}

<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
    $('.payment').hide();

    $('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
<script type="text/javascript"><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$(node).parent().find('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});
//--></script> 

{{ footer }}