{{ header }}

	<div class="maintop-container">

		<div id="account-download" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
			
			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}
				
				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<div id="download-list">
						
							{% if downloads %}
							<div class="table-responsive">
							  <table class="table table-bordered table-hover">
							    <thead>
							      <tr>
							        <td class="text-right">{{ column_order_id }}</td>
							        <td class="text-left">{{ column_name }}</td>
							        <td class="text-left">{{ column_size }}</td>
							        <td class="text-left">{{ column_date_added }}</td>
							        <td></td>
							      </tr>
							    </thead>
							    <tbody>
							    
							    {% for download in downloads %}
							    <tr>
							      <td class="text-right">{{ download.order_id }}</td>
							      <td class="text-left">{{ download.name }}</td>
							      <td class="text-left">{{ download.size }}</td>
							      <td class="text-left">{{ download.date_added }}</td>
							      <td><a href="{{ download.href }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-primary"><i class="fa fa-cloud-download"></i></a></td>
							    </tr>
							    {% endfor %}
							    </tbody>
							    
							  </table>
							</div>
							<div class="row">
							  <div class="col-sm-6 text-left">{{ pagination }}</div>
							  <div class="col-sm-6 text-right">{{ results }}</div>
							</div>
							
							{% else %}
							
								<div class="content empty">
									<p>{{ text_empty }}</p>
									<div class="buttons">
										<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
									</div>
								</div>
							
							{% endif %}

						</div>

					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

{{ footer }}