{{ header }}

	<div class="maintop-container">

		<div id="account-forgotten" class="container">

			{{ content_top }}
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>		

			{% if error_warning %}
				<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
			{% endif %}

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								<legend>{{ text_your_email }}</legend>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
									<div class="col-sm-10">
										<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
									</div>
								</div>
							</fieldset>
							<div class="buttons clearfix">
								<div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
								<div class="pull-right">
									<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
								</div>
							</div>
						</form>

					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->


	{{ content_bottom }}

{{ footer }} 