{{ header }}

	<div class="maintop-container">

		<div id="account-login" class="container">

			{{ content_top }}
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if success %}
				<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
				{% endif %}
			{% if error_warning %}
				<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
			{% endif %}

			<div id="content">

				<div class="mainborder">

					<header class="page-header">
						<h1>{{ heading_title }}</h1>
					</header>

					<div class="row">

						<div class="login col-md-5 col-md-push-1">
								
							<form id="login" action="{{ action }}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label class="control-label" for="input-email">{{ entry_email }}</label>
									<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
								</div>
								<div class="form-group">
									<label class="control-label" for="input-password">{{ entry_password }}</label>
									<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
								</div>

								<div class="buttons">
									<input type="submit" value="{{ button_login }}" class="btn btn-cart btn-block" />
								</div>

								<div class="forgotten"><a href="{{ forgotten }}">{{ text_forgotten }}</a></div>

								{% if redirect %}
								<input type="hidden" name="redirect" value="{{ redirect }}" />
								{% endif %}
							</form>
						
						</div>

						<div class="col-md-5 col-md-push-1">
							<div class="register">
					
								<h4>{{ text_new_customer }}</h4>

								<p>{{ text_register_account }}</p>
								
								<div class="buttons">
									<a href="{{ register }}" class="btn btn-primary btn-block">{{ text_register }}</a>
								</div>

							</div>
						
						</div>

					</div>

				</div>

			</div><!-- #content -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

	<script type="text/javascript"><!--

		$('#login input').keydown(function(e) {
			if (e.keyCode == 13) {
				$('#login').submit();
			}
		});

	//--></script>

{{ footer }}