{{ header }}

	<div class="maintop-container">

		<div id="account-newsletter" class="container">

			{{ content_top }}
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
					
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
								<div class="col-sm-10">
									{% if newsletter %}
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="1" checked="checked" />
										{{ text_yes }} </label>
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="0" />
										{{ text_no }}</label>
									{% else %}
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="1" />
										{{ text_yes }} </label>
									<label class="radio-inline">
										<input type="radio" name="newsletter" value="0" checked="checked" />
										{{ text_no }}</label>
									{% endif %}
								</div>
							</div>
								
							<div class="buttons clearfix">
								<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
							</div>
						</form>

					</div>
					
				</div>

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	
	{{ content_bottom }}

{{ footer }}