{{ header }}

	<div class="maintop-container">

		<div id="account-order" class="container">
			
			{{ content_top }}
			
			<ul class="breadcrumb">
			  {% for breadcrumb in breadcrumbs %}
			  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			  {% endfor %}
			</ul>

			{% if success %}
		  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		  </div>
		  {% endif %}
		  {% if error_warning %}
		  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		  </div>
		  {% endif %}

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}
			
			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<table class="table">

							<thead>
								<tr>
									<td colspan="2">
									{{ text_order_detail }}
									</td>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="text-left" style="width: 50%;">
										{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br />{% endif %} 
										<b>{{ text_order_id }}</b> #{{ order_id }}<br />
										<b>{{ text_date_added }}</b> {{ date_added }}
									</td>
									<td class="text-left" style="width: 50%;">
										{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br />{% endif %}
										{% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}
									</td>
								</tr>
							</tbody>

						</table>

						<table class="table">

							<thead>
								<tr>
									<td>{{ text_payment_address }}</td>
									{% if shipping_address %}
									<td>{{ text_shipping_address }}</td>
									{% endif %}
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="text-left">{{ payment_address }}</td>
									{% if shipping_address %}
									<td class="text-left">{{ shipping_address }}</td>
									{% endif %}
								</tr>
							</tbody>

						</table>

						<table class="table table-bordered">

							<thead>
								<tr>
									<td>{{ column_name }}</td>
									<td>Product Description</td>
									<td>{{ column_quantity }}</td>
									<td>{{ column_price }}</td>
									<td>{{ column_total }}</td>
									{% if products %}
									<td style="width: 5%;" class="hidden-xs"></td>
									{% endif %}
								</tr>
							</thead>

							<tbody>

								{% for product in products %}

									<tr>
										<td class="right">{{ product.name }}</td>
										<td>
											{{ product.model|convert_encoding('UTF-8', 'HTML-ENTITIES') }}<p class="visible-xs" style="white-space: nowrap;">
												{% if product.reorder %}
											  <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-default btn-cart"><i class="fa fa-shopping-cart"></i></a>
											  {% endif %}
											  <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
											</p>
										</td>
										<td class="right">{{ product.quantity }}</td>
										<td class="right">{{ product.price }}</td>
										<td class="right">{{ product.total }}</td>
										<td class="text-right hidden-xs" style="white-space: nowrap;">{% if product.reorder %}
										  <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-default btn-cart"><i class="fa fa-shopping-cart"></i></a>{% endif %}
										  <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-default"><i class="fa fa-reply"></i></a></td>
									</tr>

								{% endfor %}

								{% for voucher in vouchers %}
									<tr>
										<td>{{ voucher.description }}</td>
										<td></td>
										<td></td>
										<td class="right">1</td>
										<td class="right">{{ voucher.amount }}</td>
										<td class="right">{{ voucher.amount }}</td>
										{% if products %}
										<td></td>
										{% endif %}
									</tr>
								{% endfor %}

							</tbody>

							<tfoot>
								{% for total in totals %}
								<tr>
									<td colspan="4" class="right"><b>{{ total.title }}:</b></td>
									<td class="right">{{ total.text }}</td>
									{% if products %}
									<td class="hidden-xs"></td>
									{% endif %}
								</tr>
								{% endfor %}
							</tfoot>
						</table>

						{% if comment %}
						<table class="table">
							<thead>
								<tr><td>{{ text_comment }}</td></tr>
							</thead>
							<tbody>
								<tr><td>{{ comment }}</td></tr>
							</tbody>
						</table>
						{% endif %}

						{% if histories %}
						<div class="contentset center">{{ text_history }}</div>

						<table class="table">
							<thead>
								<tr>
									<td>{{ column_date_added }}</td>
									<td>{{ column_status }}</td>
									<td>{{ column_comment }}</td>
								</tr>
							</thead>
							<tbody>
								{% if histories %}
									{% for history in histories %}
									<tr>
										<td>{{ history.date_added }}</td>
										<td>{{ history.status }}</td>
										<td>{{ history.comment }}</td>
									</tr>
									{% endfor %}
								{% else %}
									<tr>
									  <td colspan="3" class="text-center">{{ text_no_results }}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
						{% endif %}

						<div class="buttons">
							<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
						</div>

					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

{{ footer }}