{{ header }}

	<div class="maintop-container">

		<div id="account-password" class="container">

			{{ content_top }}
			
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}
			
			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								<legend>{{ text_password }}</legend>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
									<div class="col-sm-10">
										<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
										{% if error_password %}
										<div class="text-danger">{{ error_password }}</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-confirm">{{ entry_confirm }}</label>
									<div class="col-sm-10">
										<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
										{% if error_confirm %}
										<div class="text-danger">{{ error_confirm }}</div>
										{% endif %}
									</div>
								</div>
							</fieldset>
							<div class="buttons clearfix">
								<input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
							</div>
						</form>

					</div>
					
				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->


	{{ content_bottom }}

{{ footer }}