{{ header }}

	<div class="maintop-container">

		<div id="account-wishlist" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}
			
			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						{% if products %}

							<div class="table-responsive">
								<table class="table">
									<thead>
								 		<tr>
								 			<td class="text-center hidden-xs">{{ column_image }}</td>
											<td class="text-left">{{ column_name }}</td>
											<td class="text-left hidden-sm hidden-xs">{{ column_model }}</td>
											<td class="text-right hidden-xs">{{ column_stock }}</td>
											<td class="text-right">{{ column_price }}</td>
											<td class="text-right">{{ column_action }}</td>
										</tr>
									</thead>
								<tbody>
									 {% for product in products %}
									 <tr>
										 <td class="text-center hidden-xs">
										 	{% if product.thumb %}
										 		<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
										 	{% endif %}
										</td>
										<td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a></td>
										<td class="text-left hidden-sm hidden-xs">{{ product.model }}</td>
										<td class="text-right hidden-xs">{{ product.stock }}</td>
										<td class="text-right">
											{% if product.price %}
											 <div class="price">
											 	{% if not product.special %}
											 		{{ product.price }}
											 	{% else %}
											 		<b>{{ product.special }}</b> <s>{{ product.price }}</s>
											 	{% endif %} 
											 </div>
											 {% endif %}
										</td>
										<td class="text-right"><button type="button" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-cart"><i class="fa fa-shopping-cart"></i></button>
											 <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove">&times;</a></td>
									 </tr>
									 {% endfor %}
								 </tbody>
							 </table>
						 </div>

						{% else %}

							<div class="content empty">
								<p>{{ text_empty }}</p>
								<div class="buttons">
									<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
								</div>
							</div>

						{% endif %}

					</div>

				</div> <!-- #content -->

				{{ column_right }}

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	
	{{ content_bottom }}

{{ footer }}