{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
	  </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
			<li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
            <li><a href="#tab-links" data-toggle="tab">{{ tab_links }}</a></li>
            <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          </ul>
          <div class="tab-content">
            
            <div class="tab-pane active" id="tab-general">
            <ul class="nav nav-tabs" id="language">
                {% for language in languages %} 
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code}}/{{ language.code }}.png" title="{{ language.name }}" />  {{ language.name }}</a></li>
                {% endfor %} 
              </ul>
              
              <div class="tab-content">
                {% for language in languages %} 
                <div class="tab-pane" id="language{{ language.language_id }}">
                <!-- multilingual start -->
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_title }}</label>
                <div class="col-sm-10">
                <input type="text" name="blog_description[{{ language.language_id }}][title]" value="{{ blog_description[language.language_id] ? blog_description[language.language_id].title }}" placeholder="{{ entry_title }}" class="form-control" />
                {% if error_title[language.language_id] %}
                <span class="error">{{ error_title[language.language_id] }}</span>
                {% endif %} 
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_page_title }}</label>
                <div class="col-sm-10">
                <input name="blog_description[{{ language.language_id }}][page_title]" value="{{ blog_description[language.language_id] ? blog_description[language.language_id].page_title }}" placeholder="{{ entry_page_title }}" type="text"  class="form-control" />
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_description }}</label>
                <div class="col-sm-10">
                <textarea name="blog_description[{{ language.language_id }}][description]" data-toggle="summernote" id="description{{ language.language_id }}" class="form-control">{{ blog_description[language.language_id] ? blog_description[language.language_id].description }}</textarea>
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ entry_short_description_h }}">{{ entry_short_description }}</span></label>
                <div class="col-sm-10">
                <textarea name="blog_description[{{ language.language_id }}][short_description]" id="short_description{{ language.language_id }}" class="form-control">{{ blog_description[language.language_id] ? blog_description[language.language_id].short_description }}</textarea>
                {% if error_short_description[language.language_id] %} 
                <span class="error">{{ error_short_description[language.language_id] }}</span>
                {% endif %} 
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_meta_description }}</label>
                <div class="col-sm-10">
                <textarea name="blog_description[{{ language.language_id }}][meta_description]" class="form-control">{{ blog_description[language.language_id] ? blog_description[language.language_id].meta_description }}</textarea>
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_meta_keyword }}</label>
                <div class="col-sm-10">
                <input name="blog_description[{{ language.language_id }}][meta_keyword]" class="form-control" value="{{ blog_description[language.language_id] ? blog_description[language.language_id].meta_keyword }}" />
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_tags }}</label>
                <div class="col-sm-10">
                <input name="blog_description[{{ language.language_id }}][tags]" class="form-control" value="{{ blog_description[language.language_id] ? blog_description[language.language_id].tags }}" />
                </div>
                </div>
                
				<!-- multilingual ends -->
                </div>
                {% endfor %}
              </div> <!-- language tab ends -->
            </div> <!-- tab-general ends -->
			
            <div class="tab-pane" id="tab-data">
            {% if allow_author_change %} 
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_author }}</label>
                <div class="col-sm-10">
                <input type="text" name="author" class="form-control" value="{{ author }}" />
              </div>
              </div>
              {% else %}   
              <input type="hidden" name="author" class="form-control" value="{{ author }}" />
              {% endif %}
             
             <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10">
                  <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              
            <div class="form-group">
              <label class="col-sm-2 control-label">{{ entry_allow_comment }}</label>
              <div class="col-sm-10">
              <select name="allow_comment" class="form-control">
                {% if allow_comment %} 
                <option value="1" selected="selected">{{ text_yes }}</option>
                <option value="0">{{ text_no }}</option>
                {% else %}
                <option value="1">{{ text_yes }}</option>
                <option value="0" selected="selected">{{ text_no }}</option>
                {% endif %}
              </select>
              </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_status }}</label>
                <div class="col-sm-10">
                <select name="status" class="form-control">
                {% if status %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}   
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
              </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                <input name="sort_order" value="{{ sort_order }}" class="form-control" />
              </div>
              </div>
            </div> <!-- tab-data ends -->
            
            <div class="tab-pane" id="tab-seo">
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="blog_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if blog_seo_url[store.store_id][language.language_id] %}{{ blog_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %} 
                     {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
			</div> <!-- tab-seo ends -->
            
            <div class="tab-pane" id="tab-links">
			
            <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_category }}</label>
            <div class="col-sm-10">
            <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
            <div id="blog-category" class="well well-sm" style="height: 150px; overflow: auto;">
            {% for blog_category in blog_categories %} 
            {% if blog_category.blog_category_id in this_blog_category %}
            <div id="blog-category{{ blog_category.blog_category_id}}"><i class="fa fa-minus-circle"></i> {{ blog_category.name }}
            <input type="hidden" name="this_blog_category[]" value="{{ blog_category.blog_category_id }}" />
            </div>
            {% endif %}
            {% endfor %}
            </div>
            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_related }}</label>
                <div class="col-sm-10">
                  <input type="text" name="related" value="" placeholder="{{ entry_related }}" id="input-related" class="form-control" />
                  <div id="blog-related" class="well well-sm" style="height: 150px; overflow: auto;"> 
                    {% for blog in blogs %}
                    {% if blog.blog_id in related_blog %}
                    <div id="blog-related{{ blog.blog_id}}"><i class="fa fa-minus-circle"></i> {{ blog.title }}
                    <input type="hidden" name="related_blog[]" value="{{ blog.blog_id }}" />
                    </div>
                    {% endif %}
                    {% endfor %}
                 </div>
               </div>
            </div>
            
            <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_related_products }}</label>
            <div class="col-sm-10">
            <input type="text" name="related-products" value="" placeholder="{{ entry_related_products }}" id="input-related-products" class="form-control" />
            <div id="product-related" class="well well-sm" style="height: 150px; overflow: auto;">
            {% for product_related in product_relateds %} 
            <div id="product-related{{ product_related.product_id }}"><i class="fa fa-minus-circle"></i> {{ product_related.name }}
            <input type="hidden" name="product_related[]" value="{{ product_related.product_id }}" />
            </div>
            {% endfor %} 
            </div>
            </div>
            </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
				<div class="well well-sm" style="height: 150px; overflow: auto;"> 
				  {% for store in stores %}
                    <div class="checkbox">
                      <label> 
                      	{% if store.store_id in blog_store %}
                        <input type="checkbox" name="blog_store[]" value="{{ store.store_id }}" checked="checked" />{{ store.name }}
                        {% else %}
                        <input type="checkbox" name="blog_store[]" value="{{ store.store_id }}" />{{ store.name }}
                        {% endif %}
					 </label>
                    </div>
                  {% endfor %}
				</div>
                </div>
              </div>
              
            </div> <!-- tab-links ends -->
            
            <div class="tab-pane" id="tab-design">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>
				  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left"><select name="blog_layout[{{ store.store_id }}]" class="form-control">
                        <option value=""></option>
                        {% for layout in layouts %}
                            {% if blog_layout[store.store_id] and blog_layout[store.store_id] == layout.layout_id %}
                            <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                            {% else %}
                            <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                            {% endif %}
                        {% endfor %}
                      </select></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
          	</div> <!-- tab-design ends -->
        </div>
      </form>
    </div>
  </div>

<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
<script type="text/javascript"><!--
// Category
$('input[name=\'category\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/blog/blog_category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category\']').val('');
		
		$('#blog-category' + item['value']).remove();
		
		$('#blog-category').append('<div id="blog-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="this_blog_category[]" value="' + item['value'] + '" /></div>');	
	}
});

$('#blog-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

//Related blog posts
$('input[name=\'related\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/blog/blog/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['title'],
						value: item['blog_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'related\']').val('');
		
		$('#blog-related' + item['value']).remove();
		
		$('#blog-related').append('<div id="blog-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="related_blog[]" value="' + item['value'] + '" /></div>');
	}
});

$('#blog-related').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});


// Related products
// Related
$('input[name=\'related-products\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'related-products\']').val('');

		$('#product-related' + item['value']).remove();

		$('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_related[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product-related').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script></div>
{{ footer }}