<div class="box category">
  <a class="btn btn-default visible-xs" role="button" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="collapseCategories">{{ heading_title }} <i class="fa fa-angle-right"></i></a>

  <div class="list-group collapse" id="categories">
    {% for category in categories %}
    {% if category.category_id == category_id %} 
    <a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a> 
    {% if category.children %}
    {% for child in category.children %}
    {% if child.category_id == child_id %}
    <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
    {% else %} 
    <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% else %} <a href="{{ category.href }}" class="list-group-item">{{ category.name }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>