{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
       {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
	   {% set class = 'col-sm-9' %}
    {% else %}
       {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	  {% if errors %}
      <div class="text-danger">{{ errors }}</div>
      {% endif %}
      <h1>{{ heading_title }}</h1>
      <h3>{{ text_location }}</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            {% if image %}
            <div class="col-sm-3"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-thumbnail" /></div>
            {% endif %}
            <div class="col-sm-3"><strong>{{ store }}</strong><br />
              <address>
              {{ address }}
              </address>
			  {% if geocode %}
              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
              {% endif %}
            </div>
            <div class="col-sm-3"><strong>{{ text_telephone }}</strong><br>
              {{ telephone }}<br />
              <br />
              {% if fax %}
              <strong>{{ text_fax }}</strong><br>
              {{ fax }}
              {% endif %}
            </div>
            <div class="col-sm-3">
              {% if open %}
              <strong>{{ text_open }}</strong><br />
              {{ open }}<br />
              <br />
              {% endif %}
              {% if comment %}
              <strong>{{ text_comment }}</strong><br />
              {{ comment }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if locations %}
      <h3>{{ text_store }}</h3>
      <div class="panel-group" id="accordion">
        {% for location in locations %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location['location_id'] }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location['name'] }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location['location_id'] }}">
            <div class="panel-body">
              <div class="row">
                {% if location['image'] %}
                <div class="col-sm-3"><img src="{{ location['image'] }}" alt="{{ location['name'] }}" title="{{ location['name'] }}" class="img-thumbnail" /></div>
                {% endif %}
                <div class="col-sm-3"><strong>{{ location['name'] }}</strong><br />
                  <address>
                  {{ location['address'] }}
                  </address>
                  {% if location['geocode'] %}
                  <a href="https://maps.google.com/maps?q=<?php echo urlencode($location['geocode']) }}&hl=en&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                  {% endif %}
                </div>
                <div class="col-sm-3"> <strong>{{ text_telephone }}</strong><br>
                  {{ location['telephone'] }}<br />
                  <br />
                  {% if location['fax'] %}
                  <strong>{{ text_fax }}</strong><br>
                  {{ location['fax'] }}
                  {% endif %}
                </div>
                <div class="col-sm-3">
                  {% if location['open'] %}
                  <strong>{{ text_open }}</strong><br />
                  {{ location['open'] }}<br />
                  <br />
                  {% endif %}
                  {% if location['comment'] %}
                  <strong>{{ text_comment }}</strong><br />
                  {{ location['comment'] }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
	  
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <h3>{{ text_contact }}</h3>
		  <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-reason">{{ label_reason }}</label>
            <div class="col-sm-8">
			  <select name="contact_reason" id="input-contact-reason" class="form-control">
                {% for contact_reason in contact_reasons %} 
				  {% if contact_reason['order'] == 0 %}
				    <option selected="selected" value="{{ contact_reason['order'] }}" disabled>{{ contact_reason['option'] }}</option>
				  {% else %}
                    <option value="{{ contact_reason['option'] }}">{{ contact_reason['option'] }}</option>
                  {% endif %}
				{% endfor %}
              </select>
			  {% if error_reason %}
              <div class="text-danger">{{ error_reason }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-8">
              <input type="text" name="name" placeholder="{{ entry_name }}" value="{{ name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-8">
              <input type="text" name="email" placeholder="{{ entry_email }}" value="{{ email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_address }}</label>
            <div class="col-sm-4">
              <textarea name="address" rows="5" id="input-address" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-telephone">{{ entry_telephone }}</label>
            <div class="col-sm-8">
              <input type="tel" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-fax">{{ entry_fax }}</label>
            <div class="col-sm-8">
              <input type="text" name="fax" value="{{ fax }}" placeholder="{{ entry_fax }}" id="input-fax" class="form-control" />
            </div>
          </div>
		  
		  {% if upload %}
		    <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_file }}</label>
			  <div class="col-sm-8">
			    <i>{{ text_browse }}</i>
			  </div>
			</div>

			{% for i in range(1, number, 1) %}
			<div class="form-group">
			  <div class="col-sm-4">&nbsp;</div>
			    <div class="col-sm-3">
                    <input type="file" name="{{ i }}" />
					<input type="hidden" name="{{ i }}" />
                    {% if i == 1 and error_size1 %}
                      <div class="text-danger">{{ error_size1 }}</div>
                    {% endif %}
                    {% if i == 2  and error_size2 %}
                      <div class="text-danger">{{ error_size2 }}</div>
                    {% endif %}
                    {% if i == 3 and error_size3 %}
                      <div class="text-danger">{{ error_size3 }}</div>
                    {% endif %}
				 </div>
			   </div>
			 {% endfor %}
		   {% endif %}

          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="col-sm-8">
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
              {% if error_enquiry %}
              <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>
          {% if site_key %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                {% if error_captcha %}
                  <div class="text-danger">{{ error_captcha }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </fieldset>
        <div class="buttons">
          <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
