<div class="featured-categories category-slider product-slider top-arrows">

	<h4>{{ heading_title }}</h4>
	<div id="featured_categories{{ module }}">
    {% for category in categories %}
		<div class="item">
			<div class="inner product-thumb">
				<div class="image">
					<div class="thumb"><a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" /></a></div>
				</div>
				
				<div class="caption">
					<h4 class="name"><a href="{{ category.href }}">{{ category.name }}</a></h4>
					{% if category.display_description_status == '1' %}
						<p class="catdesc">{{ category.description }}</p>
					{% endif %}
					<div class="cart"><a class="btn btn-default btn-sm" title="" href="{{ category.href }}">{{ text_browse }}</a></div>
				</div>
			</div><!-- .inner -->
		</div><!-- .item -->
		{% endfor %}
	</div>
</div>

<script type="text/javascript"><!--
$(document).ready(function() {
	$('#featured_categories{{ module }}').owlCarousel({
        items:5,
        autoPlay: 2000,
        scrollPerPage:false,
        stagePadding: 50,
        margin:10,
        navigation:true,
        navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
        pagination: false,
        loop: true
	});
});
--></script>
