<div class="list-group">
	<a href="{{ contact }}" class="list-group-item">{{ text_contact }}</a>
	{% for information in informations %}
	<a href="{{ information.href }}" class="list-group-item">{{ information.title }}</a>
	{% endfor %}
	<a href="{{ sitemap }}" class="list-group-item">{{ text_sitemap }}</a>
</div>