{% if clearshop_latest_carousel or clearshop_latest_carousel != '' %} 
	{% set class1= 'product-slider top-arrows' %}
	{% set class2= 'owl-carousel' %}
	{% set class3= 'item' %}
{% else %} 
	{% set class1= 'box' %}
	{% set class2= 'row' %}
	{% set class3= 'product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
{% endif %}

	<div id="latest-products" class="{{ class1 }}" {{ direction == 'rtl' ? 'style="direction:rtl"' }} >

		<h4>{{ heading_title }}</h4>

		<div class="{{ class2 }}">

			{% for product in products %}
				
				<div class="{{ class3 }}">

					<div class="product-thumb transition">
				
						<div class="inner">

							<div class="image hover_fade_in_back">

								<div class="quickview"><a id="qv{{ product.product_id }}" class="button btn btn-default" rel="mp-quickview" href="index.php?route=product/quickview&product_id={{ product.product_id }}" >{{ text_quickview }}</a></div>

								{% if product.thumb and product.thumb_swap and clearshop_rollover_images == 1 %}
									<div class="front-image">
										<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
									</div>
									<div class="back-image">
										<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
									</div>
								{% elseif product.thumb %}
									<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
								{% endif %}

								{% if product.special %}
								<div class="onsale"><span>{{ text_onsale }}</span></div>
								{% endif %}

							</div>
							
							<div class="caption">

								<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>

								{% if product.price %}
								<div class="price">
									{% if not product.special %}
										{{ product.price }}
									{% else %}
										<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
									{% endif %}
									{% if product.tax %}
										<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
									{% endif %}
								</div>
								{% endif %}

								{% if product.rating %}
								<div class="rating">
								  {% for i in 5 %}
								  {% if product.rating < i %}
								  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
								  {% else %}
								  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
								  {% endif %}
								  {% endfor %}
								</div>
								{% endif %}

								<div class="cart">
									<button type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-default">{{ button_cart }}</button>
								</div>

								<div class="links">
									<button type="button" data-toggle="tooltip" class="btn btn-link wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
									<button type="button" data-toggle="tooltip" class="btn btn-link compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
								</div>

							</div><!-- .caption -->

						</div><!-- .inner -->
					
					</div> <!-- .product-thumb -->

				</div> <!-- .item, .product-layout -->

			{% endfor %}

		</div><!-- .owl-carousel, .box -->

	</div>

	{% if clearshop_latest_carousel != '' %}

	<script type="text/javascript">
		$(document).ready(function() {
			$('#latest-products .owl-carousel').owlCarousel({
				items: 4,
				{% if clearshop_carousel_autoplay == 1 %} autoPlay: 3000, {% endif %}
				navigation: true,
				navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
				pagination: true,
				loop:true
			});
		});
	</script>

{% endif %}