<div class="box newsletter">
	<h4 class="newsletter_heading{{ module }}"><i class="fa fa-envelope-o"></i> {{ heading_title }}</h4>
	<div class="box-content">
		<p class="contrast_font intro">{{ entry_email }}</p>
		<input type="text" value="" placeholder="{{ text_email }}" name="email" id="newsletter_email{{ module }}" class="form-control">
		<div class="buttons">
			<button class="btn btn-primary" type="button" id="button-newsletter{{ module }}" title="{{ button_join }}"><i class="fa fa-envelope-o"></i> {{ button_join }}</button>
		</div>
	</div>
</div>

<script type="text/javascript"><!--
$('#newsletter_email{{ module }}').on('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-newsletter{{ module }}').trigger('click');
	}
});
$('#button-newsletter{{ module }}').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/module/newsletter/validate',
		type: 'post',
		data: $('#newsletter_email{{ module }}'),
		dataType: 'json',
		success: function(json) {
			if (json['error']) {
				$('.newsletter_heading{{ module }}').after('<div class="alert alert-danger alert-dismissible fade in">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			} else {
				$('.newsletter_heading{{ module }}').after('<div class="alert alert-success alert-dismissible fade in">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				$('#newsletter_email').val('');
			}
		}
	});	
});
//--></script> 