<div class="tabbed-products">
	
	{% set tabs = 0 %}
	
	<ul id="tabs-{{ module }}" class="nav nav-pills">

		{% if featured_products and featured_mode != 'disabled' %}
		 {% set tabs =  tabs + 1 %}
			<li {{ tabs == 1 ? 'class="active"' : '' }} ><a id="#tab-featured-{{ module }}-link" href="#tab-featured-{{ module }}" data-toggle="tab">{{ tab_featured }}</a></li>
		{% endif %}

		{% if latest_products and latest_mode != 'disabled' %}
		 {% set tabs =  tabs + 1 %}
			<li {{ tabs == 1 ? 'class="active"' : '' }} ><a id="#tab-latest-{{ module }}-link" href="#tab-latest-{{ module }}" data-toggle="tab">{{ tab_latest }}</a></li>
		{% endif %}

		{% if bestseller_products and bestseller_mode != 'disabled' %}
		 {% set tabs =  tabs + 1 %}
			<li {{ tabs == 1 ? 'class="active"' : '' }} ><a id="#tab-bestseller-{{ module }}-link" href="#tab-bestseller-{{ module }}" data-toggle="tab">{{ tab_bestseller }}</a></li>
		{% endif %}

		{% if special_products and special_mode != 'disabled' %}
		 {% set tabs =  tabs + 1 %}
			<li {{ tabs == 1 ? 'class="active"' : '' }} ><a id="#tab-special-{{ module }}-link" href="#tab-special-{{ module }}" data-toggle="tab">{{ tab_special }}</a></li>
		{% endif %}

	</ul>

	<div class="tab-content">

		{% set tabs = 0 %}

			{% for t in 1..4 %}

				{% set disabled = 'true' %}
				{% set carousel = 1 %}

					{% if t == 1 %}

					{% if featured_products and featured_mode != 'disabled' %}
						{% set products = featured_products %}
						{% set tabID = 'tab-featured-' %}
						{% set disabled = 'false' %}
						{% set tabs = tabs + 1 %}
						{% if featured_mode == 'carousel' %}
							{% set carousel = 1 %}
						{% else %}
							{% set carousel = 0 %}
						{% endif %}
					{% endif %}

				{% elseif t == 2 %}

					{% if latest_products and latest_mode != 'disabled' %}
						{% set products = latest_products %}
						{% set tabID = 'tab-latest-' %}
						{% set disabled = 'false' %}
						{% set tabs = tabs + 1 %}
						{% if latest_mode == 'carousel' %}
							{% set carousel = 1 %}
						{% else %}
							{% set carousel = 0 %}
						{% endif %}
					{% endif %}

				{% elseif t == 3 %}

					{% if bestseller_products and bestseller_mode != 'disabled' %}
						{% set products = bestseller_products %}
						{% set tabID = 'tab-bestseller-' %}
						{% set disabled = 'false' %}
						{% set tabs = tabs + 1 %}
						{% if bestseller_mode == 'carousel' %}
							{% set carousel = 1 %}
						{% else %}
							{% set carousel = 0 %}
						{% endif %}
					{% endif %}

				{% elseif t == 4 %}

					{% if special_products and special_mode != 'disabled' %}
						{% set products = special_products %}
						{% set tabID = 'tab-special-' %}
						{% set disabled = 'false' %}
						{% set tabs = tabs + 1 %}
						{% if special_mode == 'carousel' %}
							{% set carousel = 1 %}
						{% else %}
							{% set carousel = 0 %}
						{% endif %}
					{% endif %}

				{% endif %}

				{% if carousel == 1 %} 
					{% set class1= 'product-slider top-arrows' %}
					{% set class2= 'owl-carousel' %}
					{% set class3= 'item' %}
				{% else %} 
					{% set class1= 'box' %}
					{% set class2= 'row' %}
					{% set class3= 'product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
				{% endif %}

				{% if disabled == 'false' %}

					<div id="{{ tabID ~ module }}" class="tab-pane active {{ tabs > 1 ? 'secondary' }}">

						<div id="{{ tabID ~ module }}_carousel" class="{{ class1 }}" {{ direction == 'rtl' ? 'style="direction:rtl"' }} >

							<div class="{{ class2 }}">

								{% for product in products %}
										
									<div class="{{ class3 }}">
										
										<div class="product-thumb transition">

											<div class="inner">

												<div class="image hover_fade_in_back">

													{% if product.thumb and product.thumb_swap and clearshop_rollover_images == 1 %}
														<div class="front-image">
															<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
														</div>
														<div class="back-image">
															<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
														</div>
													{% elseif product.thumb %}
														<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
													{% endif %}

													{% if product.special %}
													<div class="onsale"><span>{{ text_onsale }}</span></div>
													{% endif %}

												</div>
						
												<div class="caption">

													<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>

													{% if product.price %}
														<div class="price">
															{% if not product.special %}
																{{ product.price }}
															{% else %}
																<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
															{% endif %}
															{% if product.tax %}
																<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
															{% endif %}
														</div>
														{% endif %}

														{% if product.rating %}
														<div class="rating">
														  {% for i in 5 %}
														  {% if product.rating < i %}
														  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% else %}
														  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% endif %}
														  {% endfor %}
														</div>
														{% endif %}

													<div class="cart">
														<button type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-sm btn-primary">{{ button_cart }}</button>
													</div>
													<div class="links">
														<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
														<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
														<a id="qv{{ product.product_id }}" title="{{ text_quickview }}" data-toggle="tooltip" class="btn btn-link quickview" rel="mp-quickview" href="index.php?route=product/quickview&product_id={{ product.product_id }}" ><i class="fa fa-window-restore"></i></a>
													</div>

												</div> {# .caption #}

											</div> <!-- .inner -->							
										
										</div> {# .product-thumb #}

									</div> {# .item, .product-layout #}

								{% endfor %}

							</div> {# .owl-carousel, .box #}

							</div>

							<script type="text/javascript">

								$(window).load(function() {

									{% if carousel == 1 %}

									$('#{{ tabID ~ module }}_carousel .owl-carousel').owlCarousel({
										items: 4,
										itemsMobile:[479,2],
										{% if clearshop_carousel_autoplay == 1 %} autoPlay: 3000, {% endif %}
										navigation: true,
										navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
										pagination: true,
										loop:true,
										afterInit: function(){
											if ($('#{{ tabID ~ module }}').hasClass('secondary')) {
												$('#{{ tabID ~ module }}').removeClass('active');
											}
										}
									});

									{% else %}
										
										if ($('#{{ tabID ~ module }}').hasClass('secondary')) {
											$('#{{ tabID ~ module }}').removeClass('active');
										}

									{% endif %}

								});

							</script>

					</div>

				{% endif %} {# if $disabled #}

		{% endfor %}

	</div>

</div>