{{ header }}

	<div class="maintop-container">

		<div id="product-category" class="container">

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{{ content_top }}

			<header class="page-header visible-xs">
				<h3>{{ heading_title }}</h3>
			</header>

			{% if description %}
				<div class="catdesc visible-xs">
				{{ description }}
				</div>
			{% endif %}

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-8' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}" role="main">

					<div class="mainborder">

						<div class="page-header hidden-xs">
							<h1>{{ heading_title }}</h1>
						</div>

						<div class="category-details clearfix">



							{% if categories and clearshop_subcat_status and clearshop_subcat_status == 1 %}

								{% if clearshop_subcat_thumbnails_status == 1 %}

								

								{% else %}

									<ul class="category-list">
										{% for category in categories %}
										<li class="subcat"><a href="{{ category.href }}" title="{{ category.name }}">{{ category.name }}</a></li>
										{% endfor %}
									</ul>

								{% endif %}

							{% endif %}

						</div>

						{% if products %}

							{# Grid/Lis view, filters #}

							<div class="product-filter">

								<div class="btn-group display">
								  <button type="button" id="list-view" class="btn btn-link" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
								  <button type="button" id="grid-view" class="btn btn-link" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
								</div>

								<span class="product-compare"><a href="{{ compare }}" id="compare-total" data-toggle="tooltip" class="btn btn-link" title="{{ text_compare }}"><i class="fa fa-exchange"></i></a></span>

								<div class="list-options"> 

									<div class="sort">

										<i class="fa fa-sort-amount-asc" data-toggle="tooltip" title="{{ text_sort }}"></i>

										<div class="dropdown">
										  <ul class="dropdown-menu dropdown-menu-right">
										  	{% set current_sort = '' %}
										  	{% for sorts in sorts %}
										  	{% if sorts.value == '%s-%s'|format(sort, order) %}
										  	<li><a href="{{ sorts.href }}"><b>{{ sorts.text }}</b></a></li>
										  	{% set current_sort = sorts.text %}
										  	{% else %}
										  	<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
										  	{% endif %}
										  	{% endfor %}
										  </ul>
										  <button type="button" id="input-sort" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    {{ current_sort }} <span class="caret"></span>
										  </button>
										  
										</div>

									</div>

									<div class="limit">

										<div class="dropdown">
										  <ul class="dropdown-menu dropdown-menu-right">
										  	{% set current_limit = '' %}
										  	{% for limits in limits %}
										  	{% if limits.value == limit %}
										  	<li><a href="{{ limits.href }}"><b>{{ limits.text }}</b></a></li>
										  	{% set current_limit = limits.text %}
										  	{% else %}
										  	<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
										  	{% endif %}
										  	{% endfor %}
										  </ul>
										  <button type="button" id="input-limit" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    {{ current_limit }} <span class="caret"></span>
										  </button>
										</div>

									</div>

								</div> <!-- .list-options -->

							</div>

							{# Product list (Default to Grid) #}

							<div class="row">
								{% for product in products %}
								<div class="product-layout product-list col-xs-12">
									<div class="product-thumb">
										<div class="inner">
											
											<div class="image hover_fade_in_back">
												
												{% if product.thumb and product.thumb_swap and clearshop_rollover_images == 1 %}
													<div class="front-image">
														<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
													</div>
													<div class="back-image">
														<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
													</div>
												{% elseif product.thumb %}
													<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
												{% endif %}

												{% if product.special %}
													<div class="onsale"><span>{{ text_onsale }}</span></div>
													{% endif %}

											</div>

											<div>
												<div class="caption">
													
													<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>

													{{ product.model }}



													{% if product.rating %}
														<div class="rating">
														  {% for i in 5 %}
														  {% if product.rating < i %}
														  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% else %}
														  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% endif %}
														  {% endfor %}
														</div>
													{% endif %}

												</div>

											</div>

										</div>
									</div>
								</div>
								{% endfor %}
							</div>

							<div class="row" style="margin-top: 15px">
							  <div class="col-sm-6 text-left">{{ pagination }}</div>
							  <div class="col-sm-6 text-right">{{ results }}</div>
							</div>
						
						{% endif %} {# products END #}


						{# If Category is empty #}

						{% if not categories and not products %}

							<div class="content empty">

								<p>{{ text_empty }}</p>

								<div class="buttons">
									<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
								</div>

							</div>

						{% endif %}

					</div>

				</div> {# #content #}
				
				{{ column_right }}

			</div> {# .row #}

		</div> {# .container #}

	</div> {# #maintop-container #}
	
	{{ content_bottom }}

{{ footer }}