{{ header }}

	<div class="maintop-container">

		<div id="product-compare" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
			
			{% if success %}
		  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		  </div>
		  {% endif %}

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="product-page {{ class }}">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						{% if products %}

						<div class="nav-container">

							<div class="btn-group nav-compare visible-xs" data-toggle="buttons">
								<button id="previous-column" class="btn btn-default btn-sm">{{ text_prev }}</button>
								<button id="next-column" class="btn btn-default btn-sm">{{ text_next }}</button>
							</div>

						</div>

						<div id="compare-wrapper">

							<table class="table table-bordered table-striped compare-info">
								
									<thead>
										<tr>
											<td>{{ text_name }}</td>
											{% for product in products %}
												<td class="name"><a href="{{ product.href }}"><strong>{{ product.name }}</strong></a></td>
											{% endfor %}
										</tr>
									</thead>

								<tbody>
									<tr>
										<td colspan="{{ products|length + 1 }}" class="divider"></td>
									</tr>
									<tr>
										<td class="title">{{ text_image }}</td>
										
										{% for product in products %}
										<td>
											<div>
											{% if product.price and product.special %}
											<span class="onsale">
												{{ text_onsale }}
											</span>
											{% endif %}
											
											{% if product.thumb %}
												<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" /></a>
											{% endif %}
											</div>
										</td>
										{% endfor %}
									</tr>

									<tr>
										<td class="title">Option Prices</td>

										{% for product in products %}
											<td class="price">
												{% for optionsa in product.options %}
													{% for option in optionsa.product_option_value %}
															{{ option.points_prefix }} - {{ option.price }}<br>
													{% endfor %}
												{% endfor %}
											</td>
										{% endfor %}

									</tr>

									<tr>
										<td class="title">Description</td>
										{% for product in products %}
										<td>{{ product.model }}</td>
										{% endfor %}
									</tr>
								</tbody>

								{% for attribute_group in attribute_groups %}
									<thead>
										<tr>
											<td class="compare-attribute" colspan="{{ products|length + 1 }}"><strong>{{ attribute_group.name }}</strong></td>
										</tr>
									</thead>
									<tbody>
										{% for key, attribute in attribute_group.attribute %}
											<tr>
											<td>{{ attribute.name }}</td>
											{% for product in products %}
											{% if product.attribute[key] %}
											<td> {{ product.attribute[key] }}</td>
											{% else %}
											<td></td>
											{% endif %}
											{% endfor %}
											</tr>
										{% endfor %}
									</tbody>
								{% endfor %}

								<tfoot>
									<tr>
										<td></td>
										{% for product in products %}
										<td><input type="button" value="{{ button_cart }}" class="btn btn-cart" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" /></td>
										{% endfor %}
									</tr>
									<tr>
										<td></td>
										{% for product in products %}
										<td class="remove"><a href="{{ product.remove }}" class="btn btn-default btn-sm"><i class="fa fa-times-circle"></i> {{ button_remove }}</a></td>
										{% endfor %}
									</tr>
								</tfoot>
							</table>
						
						</div>

						{% else %}

						<div class="content empty">
							<p>{{ text_empty }}</p>
							<div class="buttons">
								<a href="{{ continue }}" class="btn btn-default">{{ button_continue }}</a>
							</div>
						</div>
						
						{% endif %}

				</div>

				</div> <!-- #content -->

			</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->

	{{ content_bottom }}

		<script type="text/javascript">

			$(document).ready(function() {
				$('#next-column').click(function(event) {
					event.preventDefault();
					$('#compare-wrapper').animate({scrollLeft:'+=95'}, 'medium');        
				});
				$('#previous-column').click(function(event) {
					event.preventDefault();
					$('#compare-wrapper').animate({scrollLeft:'-=95'}, 'medium');        
				});
			});

		</script>
	
{{ footer }}