{{ header }}

<div class="maintop-container product-main">

	<div id="product-product" class="container">

        {{ content_top }}

		<ul class="breadcrumb">
            {% set categorytitle = '' %}
            {% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>

                {% if breadcrumbs|length>2 %}
                    {% if breadcrumb.text != heading_title %}
                        {% set categorytitle = " - "~breadcrumb.text %}
                    {% endif %}
                {% endif %}
            {% endfor %}
		</ul>

        {% if column_left and column_right %}
            {% set class = 'col-sm-6 middle sideleft' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

		<div id="product" class="row">

            {{ column_left }}

			<div id="content" class="product-page {{ class }}" role="main">

				<div class="mainborder layout-{{ clearshop_product_layout }}">

                    {% if clearshop_product_layout == 1 %}
                        {% if column_left or column_right %}
                            {% set spanval1 = 6 %}
                        {% else %}
                            {% set spanval1 = 5 %}
                            {% set spanval2 = 12 %}
                        {% endif %}
                    {% elseif clearshop_product_layout == 2 %}
                        {% set spanval1 = 5 %}
                        {% set spanval2 = 7 %}
                    {% elseif clearshop_product_layout == 3 %}
                        {% set spanval1 = 0 %}
                        {% set spanval2 = 6 %}
                    {% endif %}

					<div class="row">

						<div class="col-sm-{{ spanval1 }} leftcol">

                            {% if price and special %}
								<div class="onsale"><span>{{ text_onsale }}</span></div>
                            {% endif %}

                            {% if thumb or images %}

                            {% if thumb %}

								<div class="image">

                                    {% if clearshop_cloud_zoom == 1 %}

                                        {% if clearshop_zoom_autosize == 1 %}
                                            {% set zwidth = 'auto' %}
                                            {% set zheight = 'auto' %}
                                        {% else %}
                                            {% set zwidth = clearshop_zoom_width %}
                                            {% set zheight = clearshop_zoom_height %}
                                        {% endif %}

										<!-- image zoom  -->

										<a href="{{ popup }}" title="{{ heading_title }}" class="cloud-zoom" id="image" rel="adjustX: 10, adjustY:-4, tint:false,lensOpacity:0.4, zoomWidth:'{{ zwidth }}', zoomHeight:'{{ zheight }}', position:'{{ clearshop_zoom_position }}', showTitle:false"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" id="image" /></a>

										<div class="protect hidden-sm hidden-md hidden-lg"><span><i class="fa fa-search-plus fa-fw" aria-hidden="true"></i>{{ text_taptozoom }}</span></div>
										<div class="cloud-zoom-close hidden-sm hidden-md hidden-lg">{{ text_closezoom }}</div>

										<a href="{{ popup }}" id="zoom-image" title=" {{ heading_title }}" class="magnificPopup expand" rel="magnificPopup"><i class="fa fa-expand"></i></a>

                                    {% else %}

										<a href="{{ popup }}" title="{{ heading_title }}" class="magnificPopup" rel="magnificPopup"><img src="{{ thumb }}" id="image"  title="{{ heading_title }}" alt="{{ heading_title }}" /><span id="zoom-image" class="expand"><i class="fa fa-expand"></i></span></a>

                                    {% endif %}

								</div>

                            {% endif %}

                            {% if images %}

								<div id="sync2" class="owl-carousel image-additional">

                                    {% if clearshop_cloud_zoom == 1 %}

										<div class="item"><a href="{{ popup }}" title="{{ heading_title }}" class="cloud-zoom-gallery" rel="useZoom: 'image', smallImage: '{{ thumb }}' "><img src="{{ small }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></div>

                                    {% endif %}

                                    {% for image in images %}

                                        {% if clearshop_cloud_zoom == 1 %}

											<div class="item"><a href="{{ image.popup }}" title="{{ heading_title }}" class="cloud-zoom-gallery" rel="useZoom: 'image', smallImage: '{{ image.thumb }}' "><img src="{{ image.small }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a><a href="{{ image.popup }}" class="magnificPopup" style="display:none" rel="magnificPopup"></a></div>

                                        {% else %}

                                            {% if image.small %}

												<div class="item"><a href="{{ image.popup }}" title="{{ heading_title }}" class="magnificPopup" rel="magnificPopup"><img src="{{ image.small }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></div>

                                            {% else %}

												<div class="item"><a href="{{ image.popup }}" title="{{ heading_title }}" class="magnificPopup" rel="magnificPopup"><img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></div>

                                            {% endif %}

                                        {% endif %}

                                    {% endfor %}

								</div>

								<script type="text/javascript">

                                    $(document).ready(function() {

                                        $('#sync2').owlCarousel({
                                            items: 5,
                                            itemsDesktop: [1199,4],
                                            itemsDesktopSmall: [979,3],
                                            itemsTablet: [768,3],
                                            itemsMobile: [479,3],
                                            pagination: false,
                                            navigation: true,
                                            navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
                                            responsiveRefreshRate : 100,
                                            afterInit : function(el){
                                                el.find(".owl-item").eq(0).addClass("synced");
                                            }
                                        });

                                    });

								</script>

                            {% endif %} <!-- $images -->

                            {% endif %} <!-- $thumb or $images -->

						</div> <!-- .col-sm-6 LEFT BOX-->

						<div class="col-sm-{{ 12 - spanval1 }} rightcol">

							<header class="page-header">
								<h1>{{ heading_title }}{{ categorytitle }}</h1>
							</header>

							<div class="row">

								<div class="col-sm-{{ spanval2 }} detailscol">

                                    {% if price %}

										<div class="price">

                                            {% if not special %}
												<span class="price-normal">
													<span class="{{ live_options.module_live_options_price_container }}">{% if price!="£0.00" %}{{ price }}{% endif %}</span>
												</span>
                                            {% else %}
												<span class="price-new">
			<span class="{{ live_options.module_live_options_special_container }}">{{ special }}</span>
            </span> <span class="price-old">
			<span class="{{ live_options.module_live_options_price_container }}">{{ price }}</span>
            </span>
                                            {% endif %}


                                            {% if date_end %}

												<style>
													.box-timer.is-countdown:before {
														content: '{{ text_onsale  }}';
														font-family: inherit;
													}
												</style>

												<script type="text/javascript">
                                                    if (typeof OC == 'undefined') OC = { };
                                                    OC.Countdown = {
                                                        TEXT_YEARS 		: '{{ text_years }}',
                                                        TEXT_MONTHS 	: '{{ text_months }}',
                                                        TEXT_WEEKS 		: '{{ text_weeks }}',
                                                        TEXT_DAYS 		: '{{ text_days }}',
                                                        TEXT_HOURS 		: '{{ text_hours }}',
                                                        TEXT_MINUTES 	: '{{ text_minutes }}',
                                                        TEXT_SECONDS 	: '{{ text_seconds }}'
                                                    };
												</script>

												<script type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>

												<div id="Countdown{{ product_id }}" class="box-timer"></div>

												<script type="text/javascript">

                                                    $(function () {
                                                        var austDay = new Date();
                                                        austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
                                                        $('#Countdown{{ product_id }}').countdown({
                                                            until: new Date(
                                                                    {{ date_end|date("Y") }},
                                                                    {{ date_end|date("m") }} -1,
                                                                    {{ date_end|date("d") }},
                                                                    {{ date_end|date("H") }},
                                                                    {{ date_end|date("i") }},
                                                                    {{ random(59) }}
                                                            ),
                                                            onExpiry: liftOff
                                                        });
                                                        function liftOff() {
                                                            $('#Countdown{{ product_id }}').addClass ('hidden');
                                                        }
														/*$('#Countdown{{ product_id }}').countdown('pause');*/
                                                    });
												</script>

                                            {% endif %}

										</div> <!-- .price -->

                                        {% if discounts %}
											<div class="discount">
												<ul>
                                                    {% for discount in discounts %}
														<li>{{ discount.quantity }}{{ text_discount }} <span>{{ discount.price }}</span></li>
                                                    {% endfor %}
												</ul>
											</div>
                                        {% endif %}

                                        {% if points %}
											<div class="points">{{ text_points }} <span>
			<span class="{{ live_options.module_live_options_points_container }}">{{ points }}</span>
            </span></div>
                                        {% endif %}

                                        {% if reward %}
											<div class="reward">{{ text_reward }} <span>
			<span class="{{ live_options.module_live_options_reward_container }}">{{ reward }}</span>
            </span></div>
                                        {% endif %}

                                    {% endif %}

                                    {% if clearshop_product_layout == 1 %}
                                        {% set spanval2 = 0 %}
                                    {% endif %}

                                    {% if clearshop_product_layout == 3 %}


								</div>

								<div class="col-sm-{{ 12 - spanval2 }} cartcol">

                                    {% endif %}

                                    {% if options %}
										<div class="options">
                                            {% for option in options %}
                                                {% if option.type == 'select' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
															<option value="">{{ text_select }}</option>
                                                            {% for option_value in option.product_option_value %}
																<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                                                    {% if option_value.price %}
																		({{ option_value.price_prefix }}{{ option_value.price }})
                                                                    {% endif %} </option>
                                                            {% endfor %}
														</select>
													</div>
                                                {% endif %}
                                                {% if option.type == 'radio' %}
													<div class="form-group{% if option.required %} required {% endif %}">
                                                        {% if ciadvancedoptions_status and ciadvancedoptions_option_description_status and option.description and option.description|trim %}
															<label class="control-label"><a data-toggle="modal" href="#cioption-description-{{ option.option_id }}">Please select option below before adding to cart <i class="fa fa-question-circle"></i></a></label>
															<div class="modal fade" id="cioption-description-{{ option.option_id }}" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>{{ option.description }}</div></div></div></div>
                                                        {% else %}
															<label class="control-label">Please select option below before adding to cart</label>
                                                        {% endif %}
														<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
																<div class="radio">
																	<input id="prod-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}" type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
																	<label for="prod-{{ option.product_option_id }}-{{ option_value.product_option_value_id }}">

                                                                        {% if option_value.ciopimage.thumb %} <img src="{{ option_value.ciopimage.thumb }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" />
                                                                        {% else %}
                                                                        {% endif %}
																		<h4>{{ option_value.ciopsku}}

                                                                            {% if option_value.price %}
                                                                                {{ option_value.price }}
                                                                            {% else %}
																				£0.00
                                                                            {% endif %}
                                                                            {{ option_value.points_prefix }}</h4>


                                                                        {{ option_value.ciopmodel|convert_encoding('UTF-8', 'HTML-ENTITIES')}}
																	</label>
																</div>
                                                            {% endfor %} </div>
													</div>
                                                {% endif %}
                                                {% if option.type == 'checkbox' %}
													<div class="form-group{% if option.required %} required {% endif %}">
                                                        {% if ciadvancedoptions_status and ciadvancedoptions_option_description_status and option.description and option.description|trim %}
															<label class="control-label"><a data-toggle="modal" href="#cioption-description-{{ option.option_id }}">Please select option below before adding to cart <i class="fa fa-question-circle"></i></a></label>
															<div class="modal fade" id="cioption-description-{{ option.option_id }}" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>{{ option.description }}</div></div></div></div>
                                                        {% else %}
															<label class="control-label">Please select option below before adding to cart</label>
                                                        {% endif %}
														<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
																<div class="checkbox">
																	<label>
																		<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                                                        {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                                                                        {{ option_value.name }}
                                                                        {% if option_value.price %}
																			({{ option_value.price_prefix }}{{ option_value.price }})
                                                                        {% endif %} </label>
																</div>
                                                            {% endfor %} </div>
													</div>
                                                {% endif %}
                                                {% if option.type == 'text' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="Please select option below before adding to cart" id="input-option{{ option.product_option_id }}" class="form-control" />
													</div>
                                                {% endif %}
                                                {% if option.type == 'textarea' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="Please select option below before adding to cart" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
													</div>
                                                {% endif %}
                                                {% if option.type == 'file' %}
													<div class="form-group{% if option.required %} required {% endif %}">
                                                        {% if ciadvancedoptions_status and ciadvancedoptions_option_description_status and option.description and option.description|trim %}
															<label class="control-label"><a data-toggle="modal" href="#cioption-description-{{ option.option_id }}">Please select option below before adding to cart <i class="fa fa-question-circle"></i></a></label>
															<div class="modal fade" id="cioption-description-{{ option.option_id }}" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>{{ option.description }}</div></div></div></div>
                                                        {% else %}
															<label class="control-label">Please select option below before adding to cart</label>
                                                        {% endif %}
														<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
														<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
													</div>
                                                {% endif %}
                                                {% if option.type == 'date' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<div class="input-group date">
															<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
															<span class="input-group-btn">
															 <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
															 </span></div>
													</div>
                                                {% endif %}
                                                {% if option.type == 'datetime' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<div class="input-group datetime">
															<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
															<span class="input-group-btn">
															 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
															 </span></div>
													</div>
                                                {% endif %}
                                                {% if option.type == 'time' %}
													<div class="form-group{% if option.required %} required {% endif %}">
														<label class="control-label" for="input-option{{ option.product_option_id }}">Please select option below before adding to cart</label>
														<div class="input-group time">
															<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
															<span class="input-group-btn">
															 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
															 </span></div>
													</div>
                                                {% endif %}
                                            {% endfor %}
										</div>
                                    {% endif %}

                                    {% if clearshop_product_layout != 3 %}

									<p>Prices displayed are Ex-VAT</p>

								</div>


								<div class="col-sm-{{ 12 - spanval2 }} cartcol">

                                    {% endif %}

									<div class="cart">

                                        {% if recurrings %}
											<h3>{{ text_payment_recurring }}</h3>
											<div class="form-group required">
												<select name="recurring_id" class="form-control">
													<option value="">{{ text_select }}</option>
                                                    {% for recurring in recurrings %}
														<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                                                    {% endfor %}
												</select>
												<div class="help-block" id="recurring-description"></div>
											</div>
                                        {% endif %}

										<div class="row">

											<div class="col-md-3">

												<div class="input-qty">
													<div class="qty-minus" onclick="if ($(this).parent('.input-qty').find('#qty-input').val()>1) { $(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())-1); }">-</div>
													<div class="qty-input-div">
														<input id="qty-input"  type="text" name="quantity" value="{{ minimum }}" class="form-control input-sm" />
													</div>
													<div class="qty-plus" onclick="$(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())+1);">+</div>
												</div>

                                                {% if minimum > 1 %}
													<div class="minimum">{{ text_minimum }}</div>
                                                {% endif %}

											</div>

											<div class="col-md-9">

												<input type="hidden" name="product_id" value="{{ product_id }}" />

												<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-cart btn-block">{{ button_cart }}</button>

												<button type="button" class="btn btn-link wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart-o"></i> <span>{{ button_wishlist }}</span></button>

												<button type="button" class="btn btn-link compare" data-toggle="tooltip" data-placement="left" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>

											</div>

										</div>

									</div> <!-- .cart -->

									<div class="share">

										<ul>
											<li><a href="//facebook.com/sharer.php?u={{ share_url }}" target="_blank" title="Facebook" class="facebook" data-toggle="tooltip"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://twitter.com/share?url={{ share_url }}" target="_blank" title="Twitter" class="twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a></li>
											<li><a href="https://plus.google.com/share?share_url={{ share_url }}" target="_blank" title="Google +" class="google-plus" data-toggle="tooltip" onclick="javascript:window.open(this.href,
															'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" ><i class="fa fa-google-plus"></i></a></li>
											<li><a href="//pinterest.com/pin/create/button/?url={{ share_url }}&{% if thumb %}media={{ thumb }}{% endif %}&description={{ heading_title }}" target="_blank" title="Pinterest" class="pinterest" data-toggle="tooltip"><i class="fa fa-pinterest"></i></a></li>
											<li><a href="mailto:enteryour@addresshere.com?subject={{ heading_title }}&body={{ share_url }}" class="envelope" title="{{ text_email_friend }}" data-toggle="tooltip"><i class="fa fa-envelope"></i></a></li>
										</ul>

									</div>

								</div>

							</div>

							<div class="description">
								<ul class="list-unstyled">


                                    {% if manufacturer %}
										<li>{{ text_manufacturer }} <span><a href="{{ manufacturers }}">{{ manufacturer }}</a></span></li>
                                    {% endif %}

                                    {% if tags %}
										<li class="tags">
                                            {{ text_tags }}
                                            {% for i in 0..tags|length %}
                                                {% if tags[i].tag|length > 0%}
													<a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
                                                {% endif %}
                                            {% endfor %}
										</li>
                                    {% endif %}

								</ul>

								<div class="share">

									<ul>
										<li><a href="//facebook.com/sharer.php?u={{ share_url }}" target="_blank" title="Facebook" class="facebook" data-toggle="tooltip"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/share?url={{ share_url }}" target="_blank" title="Twitter" class="twitter" data-toggle="tooltip"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://plus.google.com/share?share_url={{ share_url }}" target="_blank" title="Google +" class="google-plus" data-toggle="tooltip" onclick="javascript:window.open(this.href,
													'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" ><i class="fa fa-google-plus"></i></a></li>
										<li><a href="//pinterest.com/pin/create/button/?url={{ share_url }}&{% if thumb %}media={{ thumb }}{% endif %}&description={{ heading_title }}" target="_blank" title="Pinterest" class="pinterest" data-toggle="tooltip"><i class="fa fa-pinterest"></i></a></li>
										<li><a href="mailto:enteryour@addresshere.com?subject={{ heading_title }}&body={{ share_url }}" class="envelope" title="{{ text_email_friend }}" data-toggle="tooltip"><i class="fa fa-envelope"></i></a></li>
									</ul>

								</div>

							</div> <!-- .description -->

						</div>

					</div> <!-- .span6 RIGHT BOX-->

				</div>

			</div>

            {{ column_right }}

		</div> {# .row #}

	</div> {# .container #}

</div> {# #maintop-container #}

<div class="product-details">

	<div class="tabsbar">
		<div class="container">

			<ul id="tabs" class="nav nav-pills">
				<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
                {% if attribute_groups %}
					<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
                {% endif %}
                {% if review_status %}
                {% endif %}

                {% if public_downloads %}
					<li><a href="#tab-downloads" data-toggle="tab">{{text_pubdown_tab}} ({{public_downloads|length}})</a></li>
                {% endif %}

			</ul>

		</div>
	</div>



	<div class="container">

		<div class="tab-content">
            {% if public_downloads %}
				<div id="tab-downloads" class="tab-pane">
					<table class="table table-hover ">
						<thead>
						<tr>
							<th width="40%">{{text_pubdown_desc}}</th>
							<th width="40%">{{text_pubdown_file}}</th>
							<th width="10%">{{text_pubdown_size}}</th>
							<th width="10%">{{ text_pubdown_download }}</th>
						</tr>
						</thead>
						<tbody>
                        {% for download in public_downloads %}
							<tr>
								<td>{{download.desc}}</td>
								<td><i class="fa fa-file"></i> {{download.name}}</td>
								<td>{{download.size}}</td>
								<td><a href="{{download.href}}" class="button btn btn-success"><span><i class="fa fa-download"></i> {{text_pubdown_download}}</span></a></td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
                    {% if heading_title == 'GT75' or heading_title == 'GT3243' or heading_title == 'WR1307' or heading_title == 'WR61' or heading_title == 'WR2593' or heading_title == 'WR62' or heading_title == 'WR63' or heading_title == 'WR937' or heading_title == 'WR64' or heading_title == 'WR65' or heading_title == 'WR3650' or heading_title == 'WR66' or heading_title == 'WR3328' or heading_title == 'WR1544' or heading_title == 'WR67' or heading_title == 'WR68' or heading_title == 'WR775' or heading_title == 'WR69' or heading_title == 'WR70' or heading_title == 'WR71' or heading_title == 'WR854' or heading_title == 'WR1513' or heading_title == 'WR1514' or heading_title == 'FS1266' or heading_title == 'FS72' or heading_title == 'FS73' or heading_title == 'FS74' or heading_title == 'FS3077' or heading_title == 'GT75' or heading_title == 'GT3243' %}
						<iframe src="https://www.youtube.com/embed/RuIRUaUrVFI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" id="fitvid307042"></iframe>
                    {% endif %}
				</div>
				<style>
					.fluid-width-video-wrapper{
						padding: 150px;
						width: 50%;
						margin: auto;
					}
					#tab-downloads td{vertical-align:middle; padding:8px}
				</style>
            {% endif %}
			<div class="tab-pane fade in active" id="tab-description">{{ description }}</div> <!-- #tab-description -->
            {% if attribute_groups %}
				<div class="tab-pane fade" id="tab-specification">
					<div class="product-atrributes">

						<table class="table attribute">
                            {% for attribute_group in attribute_groups %}
								<thead>
								<tr>
									<td colspan="2">{{ attribute_group.name }}</td>
								</tr>
								</thead>
								<tbody>
                                {% for attribute in attribute_group.attribute %}
									<tr>
										<td>{{ attribute.name }}</td>
										<td>{{ attribute.text }}</td>
									</tr>
                                {% endfor %}
								</tbody>
                            {% endfor %}
						</table>

					</div>
				</div> <!-- #tab-attribute -->
            {% endif %}

            {% if review_status %}
				<div class="tab-pane fade"  id="tab-review">
					<div class="row">

						<div id="list-reviews" class="col-md-7 col-sm-6">
							<div id="review"></div>
						</div>

						<div id="add-review" class="col-md-5 col-sm-6">

							<div class="contentset" id="review-title">
								<h5 class="inner"><span>{{ text_write }}</span></h5>
							</div>

							<form id="form-review" class="form">

                                {% if review_guest %}

									<div class="form-group required">
										<label class="control-label" for="input-name">{{ entry_name }}</label>
										<input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
									</div>
									<div class="form-group required">
										<label class="control-label" for="input-review">{{ entry_review }}</label>
										<div>
											<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
											<div class="help-block">{{ text_note }}</div>
										</div>
									</div>
									<div class="form-group required form-rating">
										<label class="control-label">{{ entry_rating }}</label>
										<div class="clearfix"></div>
										<div class="form-rating-container">
											<input id="rating-5" type="radio" name="rating" value="5" />
											<label class="fa fa-stack" for="rating-5">
												<i class="fa fa-star fa-stack-1x"></i>
												<i class="fa fa-star-o fa-stack-1x"></i>
											</label>
											<input id="rating-4" type="radio" name="rating" value="4" />
											<label class="fa fa-stack" for="rating-4">
												<i class="fa fa-star fa-stack-1x"></i>
												<i class="fa fa-star-o fa-stack-1x"></i>
											</label>
											<input id="rating-3" type="radio" name="rating" value="3" />
											<label class="fa fa-stack" for="rating-3">
												<i class="fa fa-star fa-stack-1x"></i>
												<i class="fa fa-star-o fa-stack-1x"></i>
											</label>
											<input id="rating-2" type="radio" name="rating" value="2" />
											<label class="fa fa-stack" for="rating-2">
												<i class="fa fa-star fa-stack-1x"></i>
												<i class="fa fa-star-o fa-stack-1x"></i>
											</label>
											<input id="rating-1" type="radio" name="rating" value="1" />
											<label class="fa fa-stack" for="rating-1">
												<i class="fa fa-star fa-stack-1x"></i>
												<i class="fa fa-star-o fa-stack-1x"></i>
											</label>
										</div>
									</div>

                                    {{ captcha }}

									<div class="buttons">
										<button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
									</div>

                                {% else %}

                                    {{ text_login }}

                                {% endif %}

							</form> <!-- #form-review -->

						</div>

					</div>
				</div> <!-- #tab-review -->
            {% endif %}
		</div>

	</div>

	<div class="container">
        {{ relcatprod_module }}
	</div>

	<div class="container">
		<div class="prevnext full">
			<ul class="pager">
                {% if prev_url %}
					<li class="previous">
						<a href="{{ prev_url }}" title="{{ prev_title }}" class="tooltp"><i class="fa fa-angle-left"></i><span class="name">{{ prev_title }}</span><span class="dir">{{ text_prev }}</span></a>
					</li>
                {% endif %}
                {% if next_url %}
					<li class="next">
						<a href="{{ next_url }}" title="{{ next_title }}" class="tooltp"><i class="fa fa-angle-right"></i><span class="name">{{ next_title }}</span><span class="dir">{{ text_next }}</span></a>
					</li>
                {% endif %}
			</ul>
		</div>
	</div>

</div>

{% if products %}

    {% if clearshop_related_carousel and clearshop_related_carousel != '' %}
        {% set class1= 'product-slider top-arrows' %}
        {% set class2= 'owl-carousel' %}
        {% set class3= 'item' %}
    {% else %}
        {% set class1= 'box' %}
        {% set class2= 'row' %}
        {% set class3= 'product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
    {% endif %}

	<div id="related-products" class="{{ class1 }}" {% if direction == 'rtl' %} style="direction:rtl" {% endif %}>

		<div class="container">

			<div class="contentset">
				<h4 class="inner"><span>{{ text_related }}</span></h4>
			</div>

			<div class="{{ class2 }}">

                {% for product in products %}

					<div class="{{ class3 }}">

						<div class="product-thumb transition">

							<div class="inner">

								<div class="image hover_fade_in_back">

                                    {% if product.thumb and product.thumb_swap and clearshop_rollover_images == 1 %}
										<div class="front-image">
											<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
										</div>
										<div class="back-image">
											<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
										</div>
                                    {% elseif product.thumb %}
										<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
                                    {% endif %}

                                    {% if product.special %}
										<div class="onsale"><span>{{ text_onsale }}</span></div>
                                    {% endif %}

								</div>

								<div class="caption">

									<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>

                                    {% if product.price %}
										<div class="price">
                                            {% if not product.special %}
                                                {{ product.price }}
                                            {% else %}
												<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                                            {% endif %}
										</div>
                                    {% endif %}

                                    {% if product.rating %}
										<div class="rating">
                                            {% for j in 1..5 %}
                                                {% if product.rating < j %}
													<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                {% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                {% endif %}
                                            {% endfor %}
										</div>
                                    {% endif %}

									<div class="cart">
										<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product['minimum'] }}');" class="btn btn-sm btn-primary">{{ button_cart }}</button>
									</div>
									<div class="links">
										<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
										<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
										<a id="qv{{ product.product_id }}" title="{{ text_quickview }}" data-toggle="tooltip" class="btn btn-link quickview" rel="mp-quickview" href="index.php?route=product/quickview&product_id={{ product.product_id }}" ><i class="fa fa-window-restore"></i></a>
									</div>

								</div> <!-- .caption -->

							</div><!-- .inner -->

						</div> <!-- .product-thumb -->

					</div> <!-- .item, .product-layout -->

                {% endfor %}

			</div><!-- .owl-carousel -->

		</div>

	</div>

	<script type="text/javascript">
        $(document).ready(function() {
            $('#related-products .owl-carousel').owlCarousel({
                items: 4,
                itemsMobile:[479,2],
                {% if clearshop_carousel_autoplay == 1 %} autoPlay: 3000, {% endif %}
                navigation: true,
                navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
                pagination: true,
                loop:true
            });
        });
	</script>

{% endif %}


	{{ content_bottom }}

<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#recurring-description').html('');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-cart').button('loading');
            },
            complete: function() {
                $('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('.cart-heading > span').html(json['total']);

                    $('html, body').animate({ scrollTop: 0 }, 'slow');

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function() {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
                    },
                    complete: function() {
                        $(node).button('reset');
                    },
                    success: function(json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review-title').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review-title').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function() {
        $("a[rel^='magnificPopup']").magnificPopup({
            type:'image',
            gallery:{
                enabled:true
            }
        });
    });
    //--></script>

<script type="text/javascript"><!--
    $(document).ready(function() {
        $('.image .protect').bind('click', function() {
            $(this).hide();
            $('.cloud-zoom-close').show();
        });
        $('.cloud-zoom-close').bind('click', function() {
            $(this).hide();
            $('.image .protect').show();
        });
    });
    //--></script>

<script type="text/javascript"><!--
    $(document).ready(function() {
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    });
    //--></script>


<script type="text/javascript" src="index.php?route=product/live_options/js&product_id={{ product_id }}"></script>

{{ footer }}