<div id="quickViewContent">
		
		<div id="notification"></div>
		
		<div id="quick-content" class="product-page quick-view" role="main">

			<a href="{{ product_href }}" class="more-details">{{ text_more_details }}</a>
		
			<div class="mainborder">
		
				<div class="row">
		
					<div class="col-sm-6">
		
						{% if thumb or images %}
		
							{% if thumb %}
		
								<div class="image">
								
								{% if price and special %}
									<div class="onsale"><span>{{ text_onsale }}</span></div>
								{% endif %}

								{% if images|length > 0 %}
		
									<div id="sync1" class="owl-carousel">

										<div class="item">
											<img src="{{ thumb }}" id="image" class="img-responsive" title="{{ heading_title }}" alt="{{ heading_title }}" />
										</div>

										{% for image in images %}
										<div class="item">
											<img src="{{ image.thumb }}" class="img-responsive">
										</div>
										{% endfor %}

									</div>

								{% else %}

									<img src="{{ thumb }}" id="image" class="img-responsive" title="{{ heading_title }}" alt="{{ heading_title }}" />
								
								{% endif %}
		
								</div>
		
								{% if images %}
			
									<div id="sync2" class="owl-carousel image-additional">
			
										<div class="item no-zoom"><img src="{{ small }}" /></div>

										{% for image in images %}
										<div class="item no-zoom">
											<img src="{{ image.small }}">
										</div>
										{% endfor %}
			
									</div>

									<script type="text/javascript">
										$(document).ready(function() {
										 
										  var sync1 = $("#sync1");
										  var sync2 = $("#sync2");
										 
										  sync1.owlCarousel({
										    singleItem : true,
										    slideSpeed : 1000,
										    navigation: true,
										    navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
										    pagination:false,
										    afterAction : syncPosition,
										    responsiveRefreshRate : 200,
										  });
										 
										  sync2.owlCarousel({
										    items : 4,
										    itemsDesktop      : [1199,4],
										    itemsDesktopSmall     : [979,4],
										    itemsTablet       : [768,6],
										    itemsMobile       : [479,4],
										    pagination:false,
										    navigation: true,
										    navigationText: ['<i class="fa fa-angle-left fa-5x"></i>', '<i class="fa fa-angle-right fa-5x"></i>'],
										    responsiveRefreshRate : 100,
										    afterInit : function(el){
										      el.find(".owl-item").eq(0).addClass("synced");
										    }
										  });
										 
										  function syncPosition(el){
										    var current = this.currentItem;
										    $("#sync2")
										      .find(".owl-item")
										      .removeClass("synced")
										      .eq(current)
										      .addClass("synced")
										    if($("#sync2").data("owlCarousel") !== undefined){
										      center(current)
										    }
										  }
										 
										  $("#sync2").on("click", ".owl-item", function(e){
										    e.preventDefault();
										    var number = $(this).data("owlItem");
										    sync1.trigger("owl.goTo",number);
										  });
										 
										  function center(number){
										    var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
										    var num = number;
										    var found = false;
										    for(var i in sync2visible){
										      if(num === sync2visible[i]){
										        var found = true;
										      }
										    }
										 
										    if(found===false){
										      if(num>sync2visible[sync2visible.length-1]){
										        sync2.trigger("owl.goTo", num - sync2visible.length+2)
										      }else{
										        if(num - 1 === -1){
										          num = 0;
										        }
										        sync2.trigger("owl.goTo", num);
										      }
										    } else if(num === sync2visible[sync2visible.length-1]){
										      sync2.trigger("owl.goTo", sync2visible[1])
										    } else if(num === sync2visible[0]){
										      sync2.trigger("owl.goTo", num-1)
										    }
										    
										  }
										 
										});
									</script>
			
								{% endif %} {# images #}

							{% endif %} {# thumb #}

						{% endif %} {# thumb or images #}
					
					</div> {# .col-sm-6 LEFT BOX #}
		
					<div class="col-sm-6 rightcol">

						<header class="page-header">
							<h1><a href="{{ product_href }}">{{ heading_title }}</a></h1>
						</header>

						{% if price %}

							<div class="price">

								{% if not special %}
									<span class="price-normal">
			<span class="{{ live_options.module_live_options_price_container }}">{{ price }}</span>
            </span>
								{% else %}
									<span class="price-new">
			<span class="{{ live_options.module_live_options_special_container }}">{{ special }}</span>
            </span> <span class="price-old">
			<span class="{{ live_options.module_live_options_price_container }}">{{ price }}</span>
            </span>
								{% endif %}

								{% if tax %}
									<div class="price-tax">{{ text_tax }} 
			<span class="{{ live_options.module_live_options_tax_container }}">{{ tax }}</span>
            </div>
								{% endif %}

								{% if date_end %}

									<style>
									.box-timer.is-countdown:before {
										content: '{{ text_onsale  }}';
										font-family: inherit;
									}
									</style>

									<script type="text/javascript">
										if (typeof OC == 'undefined') OC = { };
										OC.Countdown = {
											TEXT_YEARS 		: '{{ text_years }}',
											TEXT_MONTHS 	: '{{ text_months }}',
											TEXT_WEEKS 		: '{{ text_weeks }}',
											TEXT_DAYS 		: '{{ text_days }}',
											TEXT_HOURS 		: '{{ text_hours }}',
											TEXT_MINUTES 	: '{{ text_minutes }}',
											TEXT_SECONDS 	: '{{ text_seconds }}'
										};
									</script>

									<script type="text/javascript" src="catalog/view/javascript/jquery.plugin.js"></script>
									<script type="text/javascript" src="catalog/view/javascript/jquery.countdown.js"></script>

									<div id="Countdown{{ product_id }}" class="box-timer"></div>

									<script type="text/javascript">

										$(function () {
											var austDay = new Date();
											austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
											$('#Countdown{{ product_id }}').countdown({
												until: new Date(
													{{ date_end|date("Y") }},
													{{ date_end|date("m") }} -1, 
													{{ date_end|date("d") }},
													{{ date_end|date("H") }},
													{{ date_end|date("i") }}, 
													{{ random(59) }}
													),
												onExpiry: liftOff 
											});
											function liftOff() {
												$('#Countdown{{ product_id }}').addClass ('hidden');
											}
									// $('#Countdown{{ product_id }}').countdown('pause');
										});
									</script>

								{% endif %}

							</div> <!-- .price -->

							<div class="stock-review">

							<div class="stock">
								{% if quantity <= 0 %}
									<span class="outstock"><i class="fa fa-times-circle"></i> {{ stock }}</span>
								{% else %}
									<span class="instock"><i class="fa fa-check-circle"></i> {{ stock }}</span>
								{% endif %}
							</div>

							{% if review_status %}
								<div class="review">
									{% for i in 1..5 %}
									{% if rating < i %}
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
									{% else %}
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
									{% endif %}
									{% endfor %}
									<a href="" title="{{ text_write }}" onclick="$('a[href=\'#tab-review\']').trigger('click'); $('html,body').animate({scrollTop: $('#full-info').offset().top},'slow'); return false;">{{ reviews }}</a>
								</div>
							{% endif %}

							</div>

							{% if discounts %}
								<div class="discount">
									<ul>
										{% for discount in discounts %}
										<li>{{ discount.quantity }}{{ text_discount }} <span>{{ discount.price }}</span></li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}

							{% if points %}
								<div class="points">{{ text_points }} 
			<span class="{{ live_options.module_live_options_points_container }}">{{ points }}</span>
            </div>
							{% endif %}

							{% if reward %}
								<div class="reward">{{ text_reward }} <span>
			<span class="{{ live_options.module_live_options_reward_container }}">{{ reward }}</span>
            </span></div>
							{% endif %}

						{% endif %}
		
						<div id="product">

							<div class="options">

								{% if options %}

									{% for option in options %}
									 {% if option.type == 'select' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
											 <option value="">{{ text_select }}</option>
											 {% for option_value in option.product_option_value %}
											 <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
											 {% if option_value.price %}
											 ({{ option_value.price_prefix }}{{ option_value.price }})
											 {% endif %} </option>
											 {% endfor %}
										 </select>
									 </div>
									 {% endif %}
									 {% if option.type == 'radio' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label">{{ option.name }}</label>
										 <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
											 <div class="radio">
												 <label>
													 <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
													 {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
													 {{ option_value.name }}
													 {% if option_value.price %}
													 ({{ option_value.price_prefix }}{{ option_value.price }})
													 {% endif %} </label>
											 </div>
											 {% endfor %} </div>
									 </div>
									 {% endif %}
									 {% if option.type == 'checkbox' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label">{{ option.name }}</label>
										 <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
											 <div class="checkbox">
												 <label>
													 <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
													 {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
													 {{ option_value.name }}
													 {% if option_value.price %}
													 ({{ option_value.price_prefix }}{{ option_value.price }})
													 {% endif %} </label>
											 </div>
											 {% endfor %} </div>
									 </div>
									 {% endif %}
									 {% if option.type == 'text' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
									 </div>
									 {% endif %}
									 {% if option.type == 'textarea' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
									 </div>
									 {% endif %}
									 {% if option.type == 'file' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label">{{ option.name }}</label>
										 <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
										 <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
									 </div>
									 {% endif %}
									 {% if option.type == 'date' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <div class="input-group date">
											 <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
											 <span class="input-group-btn">
											 <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											 </span></div>
									 </div>
									 {% endif %}
									 {% if option.type == 'datetime' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <div class="input-group datetime">
											 <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											 <span class="input-group-btn">
											 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											 </span></div>
									 </div>
									 {% endif %}
									 {% if option.type == 'time' %}
									 <div class="form-group{% if option.required %} required {% endif %}">
										 <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
										 <div class="input-group time">
											 <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											 <span class="input-group-btn">
											 <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											 </span></div>
									 </div>
									 {% endif %}
									 {% endfor %}
									 
								{% endif %}

							</div>

							<div class="cart">

								{% if recurrings %}
									<h3>{{ text_payment_recurring }}</h3>
									<div class="form-group required">
										<select name="recurring_id" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for recurring in recurrings %}
											<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
											{% endfor %}
										</select>
										<div class="help-block" id="recurring-description"></div>
									</div>
								{% endif %}

								<div class="row">

									<div class="col-md-4">

										<div class="input-qty">
											<div class="qty-minus" onclick="if ($(this).parent('.input-qty').find('#qty-input').val()>1) { $(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())-1); }">-</div>
												<div class="qty-input-div">
													<input id="qty-input"  type="text" name="quantity" value="{{ minimum }}" class="form-control input-sm" />
												</div>
											<div class="qty-plus" onclick="$(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())+1);">+</div>
										</div>

										{% if minimum > 1 %}
											<div class="minimum">{{ text_minimum }}</div>
										{% endif %}

									</div>

									<div class="col-md-8">
									
										<input type="hidden" name="product_id" value="{{ product_id }}" />

										<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-cart btn-block">{{ button_cart }}</button>

										<button type="button" class="btn btn-link wishlist" data-toggle="tooltip" data-placement="left" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart-o"></i></button>

										<button type="button" class="btn btn-link compare" data-toggle="tooltip" data-placement="left" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>

									</div>

								</div>

							</div> <!-- .cart -->

						</div>
		
					</div> <!-- .col-sm-6 RIGHT BOX-->
		
				</div>
		
			</div>
			
		</div>

	</div>
	

	<script type="text/javascript"><!--
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
		$.ajax({
			url: 'index.php?route=product/product/getRecurringDescription',
			type: 'post',
			data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
			dataType: 'json',
			beforeSend: function() {
				$('#recurring-description').html('');
			},
			success: function(json) {
				$('.alert, .text-danger').remove();
				
				if (json['success']) {
					$('#recurring-description').html(json['success']);
				}
			}
		});
	});
	//--></script> 
	<script type="text/javascript"><!--
	$('#button-cart').on('click', function() {
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: $('#quick-content input[type=\'text\'], #quick-content input[type=\'hidden\'], #quick-content input[type=\'radio\']:checked, #quick-content input[type=\'checkbox\']:checked, #quick-content select, #quick-content textarea'),
			dataType: 'json',
			beforeSend: function() {
				$('#quick-content #button-cart').button('loading');
			},
			complete: function() {
				$('#quick-content #button-cart').button('reset');
			},
			success: function(json) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');

				if (json['error']) {
					if (json['error']['option']) {
						for (i in json['error']['option']) {
							var element = $('#input-option' + i.replace('_', '-'));
							
							if (element.parent().hasClass('input-group')) {
								element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							} else {
								element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
							}
						}
					}
					
					if (json['error']['recurring']) {
						$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
					}
					
					// Highlight any found errors
					$('.text-danger').parent().addClass('has-error');
				}
				
				if (json['success']) {

					$.magnificPopup.close();

					$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					
					$('.cart-heading > span').html(json['total']);
					
					$('html, body').animate({ scrollTop: 0 }, 'slow');

					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			}
		});
	});
	//--></script> 
	<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" media="screen"/>
	
	<script type="text/javascript"><!--
	$('.date').datetimepicker({
	language: '{{ datepicker }}',
		pickTime: false
	});

	$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
		pickDate: true,
		pickTime: true
	});

	$('.time').datetimepicker({
	language: '{{ datepicker }}',
		pickDate: false
	});

	$('button[id^=\'button-upload\']').on('click', function() {
		var node = this;
		
		$('#form-upload').remove();
		
		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
		
		$('#form-upload input[name=\'file\']').trigger('click');
		
	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);
			
			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();
					
					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}
					
					if (json['success']) {
						alert(json['success']);
						
						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
	});
	//--></script> 


<script type="text/javascript"><!--
	$(document).ready(function() {
		$('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
	});
	//--></script>


            <script type="text/javascript" src="index.php?route=product/live_options/js&product_id={{ product_id }}"></script>
            
