{{ header }}

	<div class="maintop-container">

		<div id="product-special" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			{% if column_left and column_right %}
				{% set class = 'col-sm-6 middle sideleft' %}class="box blog_latest product-slider"
			{% elseif column_left or column_right %}
				{% set class = 'col-sm-9' %}
			{% else %}
				{% set class = 'col-sm-12' %}
			{% endif %}

			<div class="row">

				{{ column_left }}

				<div id="content" class="{{ class }}" role="main">

					<div class="mainborder">

						<header class="page-header">
							<h1>{{ heading_title }}</h1>
						</header>

						{% if products %}

							{# Grid/Lis view, filters #}

							<div class="product-filter">

								<div class="btn-group display">
								  <button type="button" id="list-view" class="btn btn-link" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
								  <button type="button" id="grid-view" class="btn btn-link" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
								</div>

								<span class="product-compare"><a href="{{ compare }}" id="compare-total" data-toggle="tooltip" class="btn btn-link" title="{{ text_compare }}"><i class="fa fa-exchange"></i></a></span>

								<div class="list-options"> 

									<div class="sort">

										<i class="fa fa-sort-amount-asc" data-toggle="tooltip" title="{{ text_sort }}"></i>

										<div class="dropdown">
										  <ul class="dropdown-menu dropdown-menu-right">
										  	{% set current_sort = '' %}
										  	{% for sorts in sorts %}
										  	{% if sorts.value == '%s-%s'|format(sort, order) %}
										  	<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
										  	{% set current_sort = sorts.text %}
										  	{% else %}
										  	<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
										  	{% endif %}
										  	{% endfor %}
										  </ul>
										  <button type="button" id="input-sort" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    {{ current_sort }} <span class="caret"></span>
										  </button>
										  
										</div>

									</div>

									<div class="limit">

										<div class="dropdown">
										  <ul class="dropdown-menu dropdown-menu-right">
										  	{% set current_limit = '' %}
										  	{% for limits in limits %}
										  	{% if limits.value == limit %}
										  	<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
										  	{% set current_limit = limits.text %}
										  	{% else %}
										  	<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
										  	{% endif %}
										  	{% endfor %}
										  </ul>
										  <button type="button" id="input-limit" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    {{ current_limit }} <span class="caret"></span>
										  </button>
										</div>

									</div>

								</div> <!-- .list-options -->

							</div>

							{# Product list (Default to Grid) #}

							<div class="row">
								{% for product in products %}
								<div class="product-layout product-list col-xs-12">
									<div class="product-thumb">
										<div class="inner">
											
											<div class="image hover_fade_in_back">
												
												{% if product.thumb and product.thumb_swap and clearshop_rollover_images == 1 %}
													<div class="front-image">
														<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
													</div>
													<div class="back-image">
														<a href="{{ product.href }}"><img src="{{ product.thumb_swap }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}"/></a>
													</div>
												{% elseif product.thumb %}
													<a href="{{ product.href }}"><img src="{{ product.thumb }}" title="{{ product.name }}" class="img-responsive" alt="{{ product.name }}" /></a>
												{% endif %}

												{% if product.special %}
													<div class="onsale"><span>{{ text_onsale }}</span></div>
													{% endif %}

											</div>

											<div>
												<div class="caption">
													
													<h4 class="name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
													<p class="description">{{ product.description }}</p>

													{% if product.price %}
														<div class="price">
															{% if not product.special %}
																{{ product.price }}
															{% else %}
																<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
															{% endif %}
															{% if product.tax %}
																<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
															{% endif %}
														</div>
														{% endif %}

														{% if product.rating %}
														<div class="rating">
														  {% for i in 5 %}
														  {% if product.rating < i %}
														  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% else %}
														  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
														  {% endif %}
														  {% endfor %}
														</div>
													{% endif %}

													<div class="cart">
														<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product['minimum'] }}');" class="btn btn-sm btn-primary">{{ button_cart }}</button>
													</div>
													<div class="links">
														<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
														<button type="button" data-toggle="tooltip" class="btn btn-link btn-sm compare" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
														<a id="qv{{ product.product_id }}" title="{{ text_quickview }}" data-toggle="tooltip" class="btn btn-link quickview" rel="mp-quickview" href="index.php?route=product/quickview&product_id={{ product.product_id }}" ><i class="fa fa-window-restore"></i></a>
													</div>

												</div>

											</div>

										</div>
									</div>
								</div>
								{% endfor %}
							</div>

							<div class="row">
							  <div class="col-sm-6 text-left">{{ pagination }}</div>
							  <div class="col-sm-6 text-right">{{ results }}</div>
							</div>
						
						{% else %}

							<div class="content empty">

								<p>{{ text_empty }}</p>

								<div class="buttons">
									<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
								</div>

							</div>

						{% endif %}

					</div>

				</div> {# #content #}

				{{ column_right }}

			</div> {# .row #}

		</div> {# .container #}

	</div> {# #maintop-container #}
	
	{{ content_bottom }}

{{ footer }}