{{ header }}

	<div class="maintop-container">

		<div id="checkout-cart" class="container">

			{{ content_top }}

			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>

			<div class="row">

		{{ column_left }}

		<div id="content" class="col-sm-12 shopping-cart" role="main">

			<div class="mainborder">
			
				<header class="page-header">					
					<h1>{{ heading_title }}
						{% if weight %}
						<span class="weight">({{ weight }})</span>
						{% endif %}
					</h1>
				</header>

				{% if attention %}
				<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				{% endif %}
				{% if success %}
				<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				{% endif %}
				{% if error_warning %}
				<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				{% endif %}

				<div class="cart-inner">

					<div class="row">

						<div id="cart-info" class="col-md-8">

							<form action="{{ action }}" method="post" enctype="multipart/form-data" id="cart-contents">

								<table class="table">
									<thead>
										<tr>
											<th class="image"></th>
											<th class="name text-left">{{ column_name }}</th>
											<th class="quantity text-left">{{ column_quantity }}</th>
											<th class="price text-right">{{ column_price }}</th>
											<th class="total text-right">{{ column_total }}</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for product in products %}
										<tr>
											<td class="image">
												{% if product.thumb %}
													<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
												{% endif %}
											</td>

											<td class="name" >
												<a href="{{ product.href }}">{{ product.name }} - {{ product.option_name }}</a>
												{% if not product.stock %}
													<span class="text-danger">***</span>
												{% endif %}

                                                {{ product.model|convert_encoding('UTF-8', 'HTML-ENTITIES')}}

												{% if product.reward %}
													<small>{{ product.reward }}</small><br />
												{% endif %}

												{% if product.recurring %}
													<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small><br />
												{% endif %}
											</td>

											<td class="text-left quantity">
												<div class="input-qty">
                                                    {% if product.option_name != "Sample" %}
													<div class="qty-minus" onclick="if ($(this).parent('.input-qty').find('#qty-input').val()>1) { $(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())-1); }">-</div>
														{% endif %}
														<div class="qty-input-div">
															<input id="qty-input" {% if product.option_name == "Sample" %}disabled {% endif %}  type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" class="form-control" />
														</div>
                                                    {% if product.option_name != "Sample" %}
													<div class="qty-plus" onclick="$(this).parent('.input-qty').find('#qty-input').val(parseInt($(this).parent('.input-qty').find('#qty-input').val())+1);">+</div>
                                                    {% endif %}
												</div>
											</td>

											<td class="price">{{ product.price }}</td>

											<td class="total">{{ product.total }}</td>

											<td><button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove btn-sm" onclick="cart.remove('{{ product.cart_id }}');">&times;</button></td>

										</tr>

										{% endfor %}

										{% for voucher in vouchers %}
										<tr>
											<td class="image"></td>
											<td class="name">{{ voucher.description }}</td>
											<td class="quantity">1</td>
											<td class="price">{{ voucher.amount }}</td>
											<td class="total">{{ voucher.amount }}</td>
											<td><button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-remove btn-sm" onclick="voucher.remove('{{ voucher.key }}');">&times;</button></td>
										</tr>
										{% endfor %}

									</tbody>
								</table>

								<div class="row">
									<div class="col-sm-4">
										<button type="submit" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i> &nbsp;{{ button_update }}</button>
									</div>
								</div>

							</form>

						</div>

						<div id="cart-module" class="col-md-4">

							<div class="inner">

								{% if modules %}

									<div class="panel-group" id="accordion">
										{% for module in modules %}
										{{ module }}
										{% endfor %}
									</div>
								
								{% endif %}

								<div id="total-cart">

									<table id="total" class="table">
										{% for total in totals %}
										<tr>
											<td class="text-right">{{ total.title }}:</td>
											<td class="text-right">{{ total.text }}</td>
										</tr>
										{% endfor %}
									</table>

								</div>

								<div class="buttons">
									<a href="{{ checkout }}" id="button-checkout" class="btn btn-cart btn-block">{{ button_checkout }}</a>
									<a href="{{ continue }}" id="continue-shopping" class="btn btn-default btn-block">{{ button_shopping }}</a>
								</div>

							</div>
							
						</div>

					</div> <!-- .row -->

				</div>

			</div> <!-- .mainborder -->

		</div><!-- #content -->

	</div> <!-- .row -->

		</div> <!-- .container -->

	</div> <!-- #maintop-container -->
	
	{{ content_bottom }}

{{ footer }}