/*  
Theme Name: Clearshop
Version: 1.4.0
Description: RTL compatibility styles
*/

html {
	direction:rtl;
	text-align:right;
	width: auto; /*iPad fix*/
}

/* Header */

.navbar .nav {
	right: 0;
	text-align: right;
	display: block;
	margin: 0 0 0 10px;
}
.navbar .nav > li {
	display: block;
	float: right;
}
.navbar-inner {
	padding-right:0;
}
.navbar .dropdown-menu {
	text-align: right;
}
.navbar .nav > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after  {
	left: auto;
	right: 0;
}
.navbar .nav > li > .dropdown-menu { right: 0; }
.navbar .nav > li > .dropdown-menu:before { right: 9px; }
.navbar .nav > li > .dropdown-menu:after { right: 10px; }

#search input {
	padding: 4px 8px 4px 0;
}
#search .button-search {
	right: auto;
	left: 20px;
}
.cart-total .count {
	float: left;
	margin: -8px -4px 0 0;
}
#welcome a + a {
	border-left: 0;
	border-right: 1px solid #ddd;
	margin: 0 6px 0 0;
	padding: 0 6px 0 0;
}

/* Header styles */

.heading {
	text-align: right;
}
.nav-tabs > li, .nav-pills > li {
	float: right;
}
.flex-direction-nav a {
	text-indent: 9999px
}

/* This line is to change the aligment of the header on RTL languages */
#header .row [class*="span"] {
	float: right;
}


@media only screen and (max-width: 979px) {
	.middlebox #search {
		right: auto;
		left: 15px;
		text-align: left;
	}
	.navbar .button-navbar {
		float: right;
	}
}

@media only screen and (max-width: 767px) {
	.btn-navbar { float: left; }
	.navbar .nav > li { float: none; }
	.navbar .button-navbar { float: right; }
	#cart { 
		right: auto;
		left: 0;
	}
	#cart .content {
		right: auto;
		left: 0;
	}
}

@media only screen and (min-width: 768px) {
	#content.col-md-12 .flexslider {
		margin-right: -10px;
	}
}

/* Forms */

.radio, .checkbox {
	padding-right: 18px;
	padding-left:0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	float: right;
	margin-right: -18px;
	margin-left: 0;
}
.contentset .inner {
	text-align:right;
}
.form-horizontal .control-label {
	float: right;
	text-align: right;
}
.form-horizontal .controls {
	margin-right: 160px;
}

.control-group.col-md-6 {
float: right;
}
.control-group.col-md-6:first-child {
margin-left: 2.127659574468085%;
}
.control-group.col-md-6:last-child {
margin-left: 0;
}

/* Categories */

.category-info .image {
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.category-list ul {
	float: right;
}

/* Footer */

#footerpre .contact dt {
	float: right;
}