/*  
Theme Name: Clearshop
Version: 1.4.0
Description: Responsive and clean template for OpenCart (Media Queries)
Theme URI: http://www.everthemes.com/demo/clearshop
Author: Luis 
Author URI: http://themeforest.net/user/luisvelaz
Tags: Clearshop, opencart, everthemes
*/


/*	THEME SPECIFIC MEDIA QUERIES
---------------------------------------------------------------------- */

@media (min-width: 992px) {

    /*	Main Navigation
    -------------------------------------------------- */
    #header > .container { border: 0; }
    .navbar .nav { text-align: center; float: none; border-top: 0;  }
    .navbar .nav > li {
        display: inline-block;
        float: none;
    }
    #m0{
        position: inherit;
    }
    .navbar .nav > li > a {
        text-shadow:none;
        font-weight: 500;
        line-height: 20px;
        font-size: 1.05em;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        z-index: 999;
        padding: 15px 30px;
    }
    .navbar .nav > li > a:hover {
        color: #fff !important;
    }
    .navbar .nav > li > a .caret {
        display: inline;
        border: 0;
        color: #999;
        font-size: 12px;
    }
    .navbar .nav > li > a .caret:before {
        font-family: "FontAwesome";
        content: "\f107";
    }

    .navbar .nav li.dropdown:hover > ul.dropdown-menu{
        display: block;
        z-index: 998;
        margin: 0 !important;
        width: 100%;
        position: absolute;
    }

    .navbar .dropdown-menu {
        margin-top: 0px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-color:#ccc;
        text-align: left;
    }
    .navbar .nav >li.dropdown:hover > a:before {
        position: absolute;
        bottom: -1px;
        left: 40%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.3);
        content: '';
    }

    .navbar .nav >li.dropdown:hover > a:after {
        position: absolute;
        bottom: -1px;
        left: 40%;
        margin-left: 1px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }
    .navbar .nav >li.dropdown:hover > a:after,
    .ribbon_skin .navbar .nav >li:hover > a:after {
        border-bottom-color: #fff;
    }
    .navbar-fixed-top.navbar .nav { border: 0; text-align: left; float: left; }
    .navbar-fixed-top.navbar .nav >li:hover > a:before,
    .navbar-fixed-top.navbar .nav >li:hover > a:after { display: none; }

    .navbar-fixed-top.navbar .nav >li.dropdown:hover > a:before,
    .navbar-fixed-top.navbar .nav >li.dropdown:hover > a:after { display: block; }

    .dropdown-menu li > a {
        display:block;
        padding: 6px 0 6px 15px;
        clear:both;
        font-weight:normal;
        line-height: 18px;
        color: #333333;
        white-space: normal;
        font-size: 12px;
    }
    .dropdown-menu li.viewall a { color: #999; font-size: 0.9em; }
    .navbar .dropdown-menu li>a:hover,
    .navbar .dropdown-menu li>a:focus,
    .navbar .dropdown-submenu:hover>a {
        background: transparent;
        text-decoration: underline;
    }
    .navbar li.dropdown-submenu {
        position: relative;
    }
    .navbar li.dropdown-submenu > a:before {
        font-family: 'FontAwesome';
        float: right;
        color: rgba(0,0,0,0.3);
    }
    .navbar li.dropdown-submenu > .thirdmenu {
        /* display: block; */
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
        border: 0;
        padding: 0 15px;
        float: none;
        box-shadow: 0 0 0;
    }
    .fullwidth .nav >li .thirdmenu {
        display: block;
        padding: 0 0 0 20px;
        border: 0;
    }
    .navbar .fullwidth li.dropdown-submenu:hover > .thirdmenu {
        left: auto;
        top: auto;
    }
    .navbar .dropdown-menu ul.column-menu {
        display: inline-block;
        border-right: 1px solid #eee;
        vertical-align: top;
        width: 33%;
    }
    .navbar .dropdown-menu ul.column-menu:last-child {
        border-right: 0;
    }
    .navbar .dropdown-menu ul.column-menu ul {
        /* padding-left: 0; */
    }
    .navbar .dropdown-menu ul.column-menu ul li {
        list-style: none;
    }


    /*Home*/
    .home-icon span,
    .home-text i.fa,
    .home-hidden { display: none !important; }

    /* Columns: Categories, Brands, Custom Blocks */

    ul[class*='cols-'].dropdown-menu { padding: 8px 10px; }

    .dropdown-menu.cols-1 { min-width: 260px; }
    .dropdown-menu.cols-2 { min-width: 380px; }
    .dropdown-menu.cols-3 { min-width: 510px; }
    .dropdown-menu.cols-4 { min-width: 650px; }
    .dropdown-menu.cols-5 { min-width: 800px; }
    .dropdown-menu.cols-6 { min-width: 960px; }

    .dropdown-menu  ul.childcats { padding:4px; }
    .dropdown-menu  ul.childcats li { list-style: none; }
    .dropdown-menu  ul.childcats li a {
        font-size: 11px;
        color: #777;
    }
    .menu_block .dropdown-menu { min-width: 250px; }
    .menu_block .dropdown-menu > li { padding: 12px 20px; }
    .menu_block .dropdown-menu ul { padding-left: 15px; }

    .dropdown-menu .column-item {
        float: left;
        padding: 4px 8px;
    }
    .dropdown-menu .column-item a { text-decoration: none !important; display: block; }

    .dropdown-menu.cols-1 .column-item { width: 100%; }
    .dropdown-menu.cols-2 .column-item { width: 50%; }
    .dropdown-menu.cols-3 .column-item { width: 33.3%; }
    .dropdown-menu.cols-4 .column-item { width: 25%; }
    .dropdown-menu.cols-5 .column-item { width: 20%; }
    .dropdown-menu.cols-6 .column-item { width: 16.6%; }

    .brands .column-item.logoname > a:hover,
    .brands .column-item.logoname > a:focus,
    .brands .column-item.logo > a:hover,
    .brands .column-item.logo > a:focus {
        background-color: transparent;
        color:#333;
    }
    .brands .column-item.logoname .name {
        display: block;
        text-transform: uppercase;
        text-align: center;
        font-size: 10px;
        margin-top: 3px;
        color:#999;
    }
    .brands .column-item .image { text-align: center; display: block;}
    .brands .column-item.logo .name { display: none; }
    .brands .column-item.name .image { display: none; }

    .column-item .maincat {
        margin-bottom: 4px;
        padding: 3px 9px;
        display: block;
    }
    .column-item .maincat a {
        border-bottom: 1px solid #777;
        display: inline-block;
    }

    .column-item ul { list-style: none; padding-left: 0}

    .column-item ul li a {
        padding: 3px 9px;
        display: block;
    }

    .block-contents .dropdown-menu { max-width: 600px; white-space: normal; }

    .navbar .label {
        font-size: 8px;
        letter-spacing: 1px;
        font-weight: normal;
        vertical-align: middle;
        border-radius: 10px;
        padding: .2em .8em .3em;
    }
    .navbar-inside .navbar-collapse.fullwidth { background: #f9f9f9;}

    .fullwidth .nav >li { position: inherit; }

    .fullwidth .nav li.dropdown ul.dropdown-menu {
        width: 100%;
        max-width: 100%;
        border-width: 1px 0;
        margin-left: auto !important;
    }
    .navbar-outside .fullwidth .nav li.dropdown ul.dropdown-menu {
        border-width: 1px;
    }
    .adjusted .nav li.dropdown .container {width: auto; padding: 0;}

    .navbar-header .navbar-brand,
    .navbar-nav.navbar-right #cart,
    .navbar-fixed-top .nav .home{
        display: none;
    }
    .navbar.navbar-fixed-top .nav > li > a {padding-top: 4px; padding-bottom: 8px;}

    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
    .navbar-fixed-top {
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-bottom: 1px solid #bbb;
        padding-top: 8px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .navbar-fixed-top .navbar-nav>li>a { padding: 15px 10px; font-size: 1em; }
    .navbar-fixed-top .navbar-nav>li>a .caret { display: none; }

    .navbar-fixed-top .navbar-collapse.fullwidth { background: transparent;}
    .navbar-fixed-top.navbar-inside .fullwidth .nav >li > a {
        border-top-width: 1px;
        padding-bottom: 14px;
    }

    .navbar-fixed-top .navbar-brand {
        display: block;
        padding: 0 15px;
        height: 38px;
        width: auto;
        position: relative;
        z-index: 999;
    }
    .navbar-fixed-top .navbar-nav.navbar-right,
    .navbar-fixed-top #cart {
        display: block !important;
    }
    .navbar-fixed-top .navbar-brand img {
        max-height: 38px;
    }

    .searchbox-regular .search-area { display: block !important; }

    .product-page .layout-1 .box-timer.is-countdown {
        position: absolute;
        right: 0px;
        top: 0;
        margin-top: 0;
        border-radius: 4px;
    }

    .layout-2 .stock-review {
        border: 0;
    }

}

@media (max-width: 991px) {

    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    /* Mobile menu */

    .canvas-slid {position: fixed !important; width: 100%; }

    #mobmenu {width: 400px;}

    .btn-menu { background: transparent; }
    #wrapselector .btn-group > .btn,
    #wrapselector .dropdown-menu li>a,
    #top-links .list-inline > li > a {
        font-size: 16px;
    }

    #mobmenu .navbar-nav { margin: 0 -15px; float: none; }
    #mobmenu .nav>li { float: none; clear: both; }
    #mobmenu .nav>li{
        border-bottom: 1px solid #eee;
        border-color: rgba(0,0,0,0.08);
        float: none;
    }
    #mobmenu .nav>li:last-child{ border: 0; }
    #mobmenu .nav>li.open {background: transparent;}

    #mobmenu .nav>li a { color: #333;}
    #mobmenu .nav>li>a{
        font-size: 1.1em;
        background: transparent;
    }
    #mobmenu .nav>li>a.closesidebar { font-size: 26px; }
    #mobmenu .nav>li .column-item  a {
        padding: 5px 15px;
        display: block;
        text-decoration: none;
    }
    #mobmenu .nav>li .column-item ul { padding-left: 5px; list-style-type: none; }

    #mobmenu .nav .column-menu a,
    #mobmenu.navbar-default .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px;
        display: block;
    }
    #mobmenu.navbar-default .navbar-nav .open .dropdown-menu>li.viewall>a {
        color: #999;
        text-align: right;
    }
    #mobmenu li.dropdown > a + a.dropdown-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
    #mobmenu .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    #mobmenu a.dropdown-toggle .caret:before {
        font-family: "FontAwesome";
        content: "\f0d7";
        font-size: 16px;
        color: rgba(0,0,0,0.5);
    }
    #mobmenu .navbar-nav .open .dropdown-menu {
        background: #f8f8f8;
    }
    #mobmenu .dropdown.open > a.dropdown-toggle .caret:before,
    #mobmenu .dropdown.open > button.dropdown-toggle .caret:before {
        content: "\f106";
    }
    #mobmenu li.dropdown.open > a:first-child {
        border-bottom: 1px solid #ddd;
    }
    #mobmenu li.dropdown.open > a:first-child:before,
    #mobmenu .browse-options .btn-group.dropdown.open .dropdown-toggle:before {
        position: absolute;
        bottom: -1px;
        left: 15%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }
    #mobmenu li.dropdown.open > a:first-child:after,
    #mobmenu .browse-options .btn-group.dropdown.open .dropdown-toggle:after {
        position: absolute;
        bottom: -1px;
        left: 15%;
        margin-left: 1px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #f8f8f8;
        border-left: 6px solid transparent;
        content: '';
    }

    #mobmenu .label {
        font-size: 8px;
        letter-spacing: 1px;
        font-weight: normal;
        text-transform: uppercase;
        border-radius: 10px;
        padding: .2em .8em .3em;
    }

    #mobmenu .browse-options .dropdown-menu {
        clear: both;
    }
    #mobmenu .browse-options form,
    #mobmenu .browse-options .btn-group,
    #mobmenu .browse-options .dropdown-toggle {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1em;
    }
    #mobmenu .browse-options .btn-group.dropdown.open .dropdown-toggle {
        border-bottom: 1px solid #ddd;
    }
    #mobmenu .browse-options form + form .btn-group.dropdown .dropdown-toggle {
        border-top: 1px solid #ddd;
    }
    #mobmenu .browse-options .caret { float: right; }

    #mobmenu .browse-options .btn.dropdown-toggle {
        padding: 10px 15px;
        text-decoration: none;
        text-transform: none;
        color: inherit;
    }
    #mobmenu .browse-options .dropdown-menu .btn {
        text-align: left;
        text-decoration: none;
    }
    #mobmenu .account-options {
        clear: both;
    }
    #mobmenu .login-options {
        position: absolute;
        top: 12px;
        right: 15px;
        z-index: 99;
        border: 0 !important;
    }

    #mobmenu .login-options .btn {
        border: 0;
        background: transparent;
        color: #333;
    }
    #mobmenu .login-options .btn + .btn { border-left: 1px solid #ddd; }
    #mobmenu .login-options .btn i { margin-right: 6px; }

    /*#mobmenu .login-options > li > a {
        display: block;
        line-height: 20px;
        color: #999;
        padding: 5px 15px 5px 25px;
    }*/

    .menu_block .dropdown-menu > li { padding: 12px 20px; }
    .menu_block .dropdown-menu ul { padding-left: 15px; }

    #mobmenu li.brands .image {display: none;}
    #mobmenu .dropdown > a.dropdown-toggle .caret,
    #mobmenu .dropdown > button.dropdown-toggle .caret {
        float: right;
        border: 0;
        display: block;
        width: 20px;
        height: 20px;
        text-align: center;
        padding-left: 10px;
    }
    #mobmenu a.dropdown-toggle .caret:before,
    #mobmenu button.dropdown-toggle .caret:before {
        font-family: "FontAwesome";
        content: "\f105";
        font-size: 16px;
    }
    #mobmenu .dropdown.open > a.dropdown-toggle .caret:before,
    #mobmenu .dropdown.open > button.dropdown-toggle .caret:before {
        content: "\f106";
    }
    #mobmenu .thirdmenu {
        display: block;
        padding-left: 20px;
    }

    #mobmenu .social { text-align: center; display: block; padding: 20px 0; }

    #mobmenu .nav>li .social a {
        font-size: 1.4em;
        padding: 0.3em;
        color: #777;
        text-decoration: none;
    }


}

/* Desktop standard 960 and up */
@media only screen and (min-width: 992px) {

    #footer ul.content { display: block !important; }

}


/* Smaller than standard 960 */
@media only screen and (max-width: 991px) {

    body { padding: 0; }

    /* Header */

    #logo { max-height: 100%; }


    /* Content */

    .product-page .layout-1 .leftcol { padding-right: 0; }

    .layout-2 .detailscol .tags,
    .layout-2 .detailscol .share,
    #header .navbar-header .navbar-brand { display: none; }

    .layout-2 .cartcol .tags,
    .layout-2 .cartcol .share { display: block; }

    #content .form { width: 100% !important; }

}



/* Tablet Portrait size to standard 980*/
@media only screen and (min-width: 768px) and (max-width: 979px) {

    /* Header */

    .product-page .layout-1 .leftcol,
    .product-page .layout-1 .rightcol {
        width:50%;
        *width:50%;
    }

    .product-page .layout-2 .detailscol,
    .product-page .layout-2 .cartcol {
        width: 100%;
        clear: both;
        margin-left: 0;
    }

    /* Shopping Cart */

    #total-cart .buttons { text-align: center; }
    #total-cart .buttons a { float: none; }
    #total-cart #checkout {
        display: block;
        margin: 0 15%;
    }

    /* Grid */

    #content.col-md-9 .cols-4 .grid-box,
    .content-top .grid-box {
        width: 33.3%;
    }
    #content.col-md-12 .cols-4 .grid-box { width:24.9%; }

    /* Footer */

    #footer ul.content { display: block !important; }

}

@media only screen and (min-width: 768px) {

    #column-left .collapse { display: block; height: auto !important; }

    #footer ul.content { display: block !important; }

    .search-area {
        display: inline-block !important;
        width: 100%;
        padding: 0;
        position: relative;
        margin-top: 23px;
    }
    .search-area-close { display: none; }

}



/* All Mobile Sizes */
@media only screen and (max-width: 767px) {


    /* Header */

    #header .btn .fa { font-size: 16px; }

    #top-links, .site-settings { display: none; }

    #header, #outernav { border: 0; }

    .maintop-container .prevnext.compact { float: none; margin: -10px 0 15px; }
    .prevnext.compact .pager {float: none; text-align: center;}

    .leftlogo #logo,
    .top_options,
    #header .info,
    .page-header,
    .leftbox,
    .stock-review,
    .top_options {
        text-align: center;
    }

    .page-header h1, .page-header h3 {
        margin-bottom: 10px;
        font-size: 1.6em !important;
        font-weight: 300;
        line-height: 1.4em;
        text-align: center;
    }

    #loginContainer { float: none; }
    #welcome { float: none; }

    .centerlogo #logo {margin: 8px auto;}

    /*Filters on mobiles*/

    #product-category #column-left {
        display: block !important;
        margin: 0 0 10px 0;
    }
    #column-left .inner {
        border: 1px solid #777;
        border-width: 1px 1px 0;
    }
    #column-left .inner > div {
        display: none;
        border: 0;
        border-bottom: 1px solid #777;
        margin-bottom: 0;
        background: transparent;
    }
    #column-left .inner .panel-default { border: 0; background: transparent; margin: 0; }
    #column-left #cat_accordion { background: #fff; }

    #column-left .inner > div.filter,
    #column-left .inner > div.category-accordion,
    #column-left .inner > div.category {
        display: block;
        border-bottom: 1px solid #777;
        border-radius: 0;
    }
    #column-left .inner .list-group { border: 0; border-radius: 0; }
    #column-left .inner > div .btn-default {
        text-align: left;
        text-transform: uppercase;
        padding: 8px 12px;
        border: 0;
        background: transparent;
    }
    #column-left .inner > div .btn-default i,
    .subcat-btn i { float: right ; font-size: 18px; }
    .subcat-btn { display: block; margin: 0 0 10px; text-align: left; }

    #subcategories .category-list { margin-top: 0; }

    .category-info .image { display: none; }


    /*	Search
    -------------------------------------------------- */

    .search-area {
        width: 100%;
        padding: 20px 40px 20px 20px;
    }
    #header .leftbox {
        position: inherit;
    }

    .info { display: none; }


    /* Shopping Cart */

    #cart-module  { border: 0; padding: 1em; }

    /* Checkout */

    .checkout_steps.active .checkout-heading {
        font-size: 20px;
        padding: 34px 10px 10px 6%;

    }

    /* Grid view */

    .product-layout.product-grid {
        width: 49% !important;
    }
    .product-compare { display: none; }

    .quickview { display: none !important; }
    .product-thumb .cart .btn,
    .product-slider .item .cart .btn {
        border-radius: 20px !important;
    }
    .product-slider .name, .product-thumb .name { font-size: 1em; }


    /* Product */

    .product-page .price,
    .product-page .review,
    .product-page .share,
    .product-page .tags,
    .product-page .description,
    .product-page .links,
    .product-page .cart {
        text-align: center;
    }

    .product-details .tab-content img {
        max-width: 100%;
        height: auto!important;
    }

    .mousetrap { max-width: 100%; }
    #cloud-zoom-big {
        max-width: 100%;
        left:0 !important;
    }
    #zoom-image { display: none; }

    .accordion-heading .accordion-toggle { font-weight: bold; }

    #add-review { border: 0; padding-left: 15px; }

    .layout-3 .cartcol .cart {
        width: auto;
    }

    .product-thumb .cart .btn,
    .product-slider .item .cart .btn,
    .product-thumb .links,
    .product-slider .item .links {
        opacity: 1 !important;
        -moz-opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    /* Other lists
    -------------------------------------------------- */

    .list-actions {
        text-align: center;
        padding-bottom: 10px;
    }
    .info-inner img {
        max-width: 100%;
        height: auto!important;
    }

    /* Blog */

    #content h2.blog_title { font-size: 1.4em; font-weight: 300; }

    /*	Footer links
    -------------------------------------------------- */

    .footer_modules_wrapper > div { margin-bottom: 20px; }

    #footer { text-align: center; }

    #footer .column { margin-bottom:-1px; }

    #footer h3.header {
        text-align: center;
        padding: 8px;
        cursor: pointer;
    }
    #footer h3.header:hover,
    #footer h3.header:active,
    #footer h3.header.active {
        outline: 0;
    }
    #footer h3.header:after {
        content: "\f107";
        display: inline-block;
        font-family: 'FontAwesome';
        margin-left: 10px;
    }
    #footer h3.header.active:after {
        content: "\f106";
    }
    #footer ul.content {
        display: none;
    }
    #footer ul li a {
        margin-bottom: 8px;
        display: block;
    }
    #footerlinks li a {
        font-size:1em;
        font-weight:bold;
        line-height: 1.9em;
    }
    #footer .contact {
        text-align: center;
        margin-top: 14px;
    }
    #footer .social, #footer .info {
        text-align: center;
        margin-top: 20px;
    }

    #footend { border: 0; }
    #footend .container { border-top: 1px solid #ddd; }


    /* Other lists
    -------------------------------------------------- */

    #toTop { display: none !important; }

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

    #cart-total .total { display: none; }
    #header .rightbox #cart .dropdown-menu:before { right: 12px; }
    #header .rightbox #cart .dropdown-menu:after { right: 13px; }

    #mobmenu { width: 90% !important }

    div.live-search { min-width: 0; }

    .product-filter .options > div {
        display: inline-block;
        float: none;
    }

    .pagination .results { display: none; }

    /* Blog */

    .column-2 .blog_item { width: auto; }
    .column-3 .blog_item { width: auto; }
    .column-4 .blog_item { width: auto; }


    /* Shopping Cart */

    #cart-info .image,
    #cart-info .price,
    #cart-info .headings {
        display: none;
    }
    #total-cart table {
        float: none;
        margin: 0 auto;
    }
    #total-cart .buttons {
        text-align: center;
        margin-bottom: 14px;
    }
    #total-cart .buttons a { float: none; }
    #total-cart .cart {
        float: none;
        clear: both;
        display: block;
    }
    #total-cart #checkout {
        display: block;
        margin: 0 15%;
    }
    #total-cart #button-checkout {
        width: 80%;
        padding: 16px 0;
    }
    .checkout-heading { padding: 20px 0 20px 6px; }

    .checkout-confirm table .price { display:none; }

    #checkout .panel-default .panel-body {
        margin: 0;
    }


    /* Order Detail */

    .confirmation td { padding: 2px; }

    .confirmation thead td { font-size: 11px; }

    .table-adjust td {
        padding: 2px;
        font-size: 11px;
    }

    /* Information pages */

    #content .info-inner { padding:20px; }

    /* Product comparison */

    .nav-container .pager { display: block; }

    #compare-wrapper {
        width:100%;
        overflow:hidden;
    }

    /*	Tabs
    -------------------------------------------------- */

    .nav-pills {border: 0;}
    .nav-pills>li {
        height: auto;
        float: none;
    }
    .nav-pills>li a {
        display: block !important;
        float: none;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: inherit;
    }
    .nav-pills>li.active a {
        border: 1px solid #777;
    }
    .nav-pills>li.active>a:before,
    .nav-pills>li.active>a:after {
        display: none;
    }

}

.menu-expand {
    width: 30px;
    float: right;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    line-height: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

a.active.menu-click {
    font-weight: 600;
}