{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
 {% if success %}
	<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}      
       <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
  {% endif %}
  {% if error_badfolder %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_badfolder }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
   {% if error_nofolder %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_nofolder }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_noemail %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_noemail }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_bademail %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_bademail }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_settings }}</h3>
      </div>
      <div class="panel-body">
		<ul class="nav nav-tabs">
		  {% set tab = tab_welcome %}
          <li><a href="#tab-welcome" data-toggle="tab">{{ text_tabwelcome }}</a></li>
          <li><a href="#tab-options" data-toggle="tab">{{ text_taboptions }}</a></li>
		  <li><a href="#tab-upload"  data-toggle="tab">
		  {% if error_badfolder or error_nofolder %}
              <div class="text-danger">{{ text_tabupload }}</div>
			  {% set tab = tab_upload %}
		  {% else %} 
		      {{ text_tabupload }}
          {% endif %}
		  </a></li>
		  <li><a href="#tab-email"  data-toggle="tab">
		  {% if error_noemail or error_bademail %}
              <div class="text-danger">{{ text_tabemail }}</div>
			  {% set tab = tab_email %}
		  {% else %} 
		      {{ text_tabemail }}
          {% endif %}
		  </a></li>
		</ul>
		
		<div class="tab-content">
          {% if tab == tab_welcome %}
		  <div class="tab-pane active" id="tab-welcome">
		  {% else %}
		  <div class="tab-pane" id="tab-welcome">
          {% endif %}
            <legend>{{ title_welcome }}</legend>
		  {{ text_welcome }}</br><br />
		  
		      <div class="panel panel-default">
      		  	  <div class="panel-body">
		  	  	   	   <legend>{{ title_tutorial }}</legend>
		  		   	   {{ text_tutorial }}</br><br />
		  	 	  </div>
		  	  </div>
		  </div>
		  
		  <div class="tab-pane" id="tab-options">
            <legend>{{ title_options }}</legend>
			{{ text_options }}</br><br />
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
			      <label class="col-sm-2 control-label" for="options">{{ entry_options }}</label>
				  <fieldset>
				    <div class="form-group">
				      <div class="col-sm-1"><b>Order</b></div>
					  <div class="col-sm-5"><b>Option</b></div>
					  <div class="col-sm-1"><b>Delete?</b></div>
					</div>
					 {% set i = 0 %} {% for option in options %}
				      <div class="form-group">
					      <div class="col-sm-1">
						      {% if i == 0 %}
							      <input disabled type="text" name="input_order[{{ i }}]" size="2" value="{{ option['order'] }}" class="form-control" /></input>
								  <input type="hidden" name="input_order[{{ i }}]" size="2" value="{{ option['order'] }}" class="form-control" /></input>
							  {% else %}
								  <input type="text" name="input_order[{{ i }}]" size="2" value="{{ option['order'] }}" class="form-control" /></input>
						      {% endif %}
						  </div>
						  <div class="col-sm-5">
						      <input type="text" size="256" name="input_option[{{ i }}]" value="{{ option['option'] }}" class="form-control" /></input>
						  </div>
						  {% if i == 0 %}
						      <div class="col-sm-4"> (<i>This option disabled in Customer Form</i>)</div>
						  {% else %}
						      <div class="col-sm-1">
                                  <input type="checkbox" name="input_delete[{{ i }}]" size="1" value="{{ option['order'] }}" class="form-control" /></input>
						      </div>
						  {% endif %}
				       </div>
					 {% set i=i+1 %}{% endfor %}
					 <div class="form-group">
				       <div class="col-sm-1"><input type="text" name="input_order[{{ i }}]" size="2" value="" class="form-control" /></input></div>
					   <div class="col-sm-5"><input type="text" name="input_option[{{ i }}]" size="256" value="" placeholder="Add" class="form-control" /></input></div>
					   <div class="col-sm-1"><input type="checkbox" name="input_delete[{{ i }}]" size="1" value="" class="form-control" /></input></div>
					 </div>
					 {% set i=i+1 %}
					 <div class="form-group">
				       <div class="col-sm-1"><input type="text" name="input_order[{{ i }}]" size="2" value="" class="form-control" /></input></div>
					   <div class="col-sm-5"><input type="text" name="input_option[{{ i }}]" size="256" value="" placeholder="Add" class="form-control" /></input></div>
					   <div class="col-sm-1"><input type="checkbox" name="input_delete[{{ i }}]" size="1" value="" class="form-control" /></input></div>
					 </div>
					 {% set i=i+1 %}
					 <div class="form-group">
				       <div class="col-sm-1"><input type="text" name="input_order[{{ i }}]" size="2" value="" class="form-control" /></input></div>
					   <div class="col-sm-5"><input type="text" name="input_option[{{ i }}]" size="256" value="" placeholder="Add" class="form-control" /></input></div>
					   <div class="col-sm-1"><input type="checkbox" name="input_delete[{{ i }}]" size="1" value="" class="form-control" /></input></div>
					 </div>
					 <div class="form-group">
				       <div class="col-sm-6">{{ text_addcomment }}</div>
					 </div>
                     <div class="form-group">
			           <div class="col-sm-6">
                          &nbsp;
                       </div>
				       <input type="submit" value="{{ button_submit }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
				    </div>
				</fieldset>
			 </form>
          </div>
		  
		  {% if tab == tab_upload %}
		  <div class="tab-pane active" id="tab-upload">
		  {% else %}
		  <div class="tab-pane" id="tab-upload">
          {% endif %}
            <fieldset>
              <legend>{{ title_upload }}</legend>
			  {{ text_upload }}</br><br />  
              <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
				<div class="form-group">
				  <label class="col-sm-2 control-label" for="upload">{{ entry_upload }}</label>
			        <div class="col-sm-8">
					{% if upload == 0 %}
                    <input type="radio" name="input_upload" id="upload" value="0" checked="checked"> No</input>
					{% else %}
					<input type="radio" name="input_upload" id="upload" value="0"> No</input>
					{% endif %}
					<br /><hr />
					{% if upload == 1 %}
                    <input type="radio" name="input_upload" id="upload" value="1" checked="checked"> Yes</input>
					{% else %}
					<input type="radio" name="input_upload" id="upload" value="1"> Yes</input>
					{% endif %}
			      </div>
			    </div>
				<div class="form-group">
                  <label class="col-sm-2 control-label" for="number">{{ entry_number }}</label>
                  <div class="col-sm-1">
                    <input type="number" min="1" max="4" name="input_number" size="1" value="{{ number }}" placeholder="1" id="number" class="form-control" /></input>
				  </div>
				  <div class="col-sm-8">
				      {{ tip_number }}
				  </div>
                </div>
				<div class="form-group">
                  <label class="col-sm-2 control-label" for="size">{{ entry_size }}</label>
                  <div class="col-sm-1">
                    <input type="number" min="1" max="9" name="input_size" size="1" value="{{ size }}" placeholder="2" id="size" class="form-control" /></input>
				  </div>
				  <div class="col-sm-8">
				      {{ tip_size }}
				  </div>
                </div>
				
                <div class="form-group">
			      <div class="col-sm-4">
                    &nbsp;
                  </div>
				  <input type="submit" value="{{ button_submit }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
				</div>
		      </form>
		    </fieldset>
		  
            <fieldset>
				<legend>{{ title_folder }}</legend>
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
				{{ text_folder }}
				&nbsp; <b>{{ folder }}</b>
				</br><br />
				<div class="form-group">
			      <label class="col-sm-2 control-label" for="folder">{{ entry_folder }}</label>
			        <div class="col-sm-6">
                    <input type="text" name="input_folder" size="48" value="{{ folder }}" placeholder="{{ folder }}" id="folder" class="form-control" /></input>
					{% if error_badfolder %}
                    <div class="text-danger">{{ error_badfolder }}</div>
                    {% endif %}
					{{ tip_folder }}
			      </div>
				</div>
				<div class="form-group">
			      <div class="col-sm-4">
                    &nbsp;
                  </div>
				  <input type="submit" value="{{ button_submit }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
				</div>
			    </form>
			</fieldset>
		  
            <fieldset>
				<legend>{{ title_current }}</legend>
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
				{{ text_current }}
				&nbsp; <b>{{ folder }}</b>
				</br><br />
				<div class="form-group">
			      <label class="col-sm-2 control-label" for="folder"></label>
			        <div class="col-sm-9">
					<div class="table-responsive">
                      <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <td class="text-left">{{ table_date }}</td>
                          <td class="text-left">{{ table_file }}</td>
					      <td class="text-left">{{ table_type }}</td>
                          <td class="text-left">{{ table_action }}</td>
						  <td class="text-left">{{ table_delete }}</td>
                        </tr>
                        </thead>
                        <tbody>
				        {% set i=0 %}{% for file in files %}
				          <tr>
                            <td class="text-left">{{ file['lastmod'] }}</td>
                            <td class="text-left">{{ file['name'] }}</td>
					        <td class="text-left">{{ file['mime'] }}</td>
					        <td class="text-left">
					          <a href="{{ file['href'] }}" target="_blank"> <i class="fa fa-eye"></i> View</a>
					        </td>
							<td class="col-sm-1">
                              <input type="checkbox" name="file{{ i }}" size="1" value="{{ file['name'] }}" class="form-control" /></input>
							</td>
                          </tr>
                       {% set i=i+1 %}
					   {% endfor %}
						 <input type="hidden" name="files" value="{{ i }}">
                        </tbody>
                      </table>
					  {% if i == 0 %}
					    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_noupload }}
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
					  {% endif %}
			        </div>
				  </div>
				</div>
				<div class="form-group">
			      <div class="col-sm-5">
                    <label class="col-sm-5 control-label" for="folder"></label>
                  </div>
				  <div class="col-sm-5">
                    <input type="submit" name="file-refresh" value="{{ button_refresh }}" id="button-refresh" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
                  </div>
				  <div class="2">
				    <input type="submit" name="file-delete" value="{{ button_delete }}" id="button-delete" data-loading-text="{{ text_loading }}" class="btn btn-danger" onclick="confirm('Are you sure?') ? ('module/contactus').submit() : false;"/>
				  </div>
				</div>
              </form>
		    </fieldset>
          </div>
		  
		  {% if tab == tab_email %}
		  <div class="tab-pane active" id="tab-email">
		  {% else %}
		  <div class="tab-pane" id="tab-email">
          {% endif %}
            <fieldset>
              <legend>{{ title_email }}</legend>
			  {{ text_email }}</br><br />  
              <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
				<div class="form-group">
				  <label class="col-sm-2 control-label" for="input_email">{{ entry_adminemail }}</label>
			      <div class="col-sm-6">
                    <input type="text" name="input_email" size="128" value="{{ adminemail }}" placeholder="{{ adminemail }}" id="adminemail" class="form-control" /></input>
					{% if error_noemail %}
                    <div class="text-danger">{{ error_noemail }}</div>
                    {% endif %}
					{% if error_bademail %}
                    <div class="text-danger">{{ error_bademail }}</div>
                    {% endif %}
					{{ tip_adminemail }}
				  </div>
			    </div>
				<hr>
				{{ text_acknemail }}</br><br /> 
				<div class="form-group">
				  <label class="col-sm-2 control-label" for="acknemail">{{ entry_custemail }}</label>
                  <div class="col-sm-2">
				    {% if acknemail == 1 %}
                    <input type="radio" name="acknemail" id="acknemail" value="1" checked="checked"> Yes</input>
					{% else %}
					<input type="radio" name="acknemail" id="acknemail" value="1"> Yes</input>
					{% endif %}
					{% if acknemail == 0 %}
                    <input type="radio" name="acknemail" id="acknemail" value="0" checked="checked"> No</input>
					{% else %}
					<input type="radio" name="acknemail" id="acknemail" value="0"> No</input>
					{% endif %}
			      </div>
			    </div>
				<div class="form-group">
				  <label class="col-sm-2 control-label" for="copyemail">{{ entry_copyemail }}</label>
			      <div class="col-sm-2">
				    {% if copyemail == 1 %}
                    <input type="radio" name="copyemail" id="copyemail" value="1" checked="checked"> Yes &nbsp;</input>
					{% else %}
					<input type="radio" name="copyemail" id="copyemail" value="1"> Yes &nbsp;</input>
					{% endif %}
					{% if copyemail == 0 %}
                    <input type="radio" name="copyemail" id="copyemail" value="0" checked="checked"> No &nbsp;</input>
					{% else %}
					<input type="radio" name="copyemail" id="copyemail" value="0"> No&nbsp; </input>
					{% endif %}
			      </div>
			    </div>
				<div class="form-group">
			      <div class="col-sm-4">
                    &nbsp;
                  </div>
				  <input type="submit" value="{{ button_submit }}" id="button-submit" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
				</div>
			  </form>
		    </fieldset>

</div></div></div></div></div>
{{ footer }}
</div>