<!--
 * UK Postcode Lookup by Crafty Clicks
 *
 * @author      Crafty Clicks Limited
 * @link       	https://craftyclicks.co.uk
 * @copyright  	Copyright (c) 2016, Crafty Clicks Limited
 * @license     Licensed under the terms of the MIT license.
 * @version		3.0.0
-->

{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-craftyclicks" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ craftyAdminLabels['heading_title'] }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ craftyAdminLabels.text_edit }}</h3>
			</div>
				<div class="panel-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-craftyclicks" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-status">{{ craftyAdminLabels.entry_status }}</label>
							<div class="col-sm-10">
								<select name="module_craftyclicks_status" id="input-status" class="form-control">
									{% if module_craftyclicks_status == '1' %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
									{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="access_token">{{ craftyAdminLabels.label_access_token }}</label>
							<div class="col-sm-10">
								<input name="module_craftyclicks_access_token" placeholder="xxxxx-xxxxx-xxxxx-xxxxx" type="text" value="{{ module_craftyclicks_access_token }}" class="form-control"/>
							</div>
						</div>

					</form>
				</div>
		</div>
	</div>
</div>
{{ footer }}
