<div class="tab-pane" id="tab-relcatprod">
<div class="form-group">
  <label class="col-sm-2 control-label" for="input-relcatprod_title">{{ entry_relcatprod_title }}</label>
  <div class="col-sm-10">
    {% for language in languages %}
    <div class="input-group pull-left"><span class="input-group-addon"><img src="{{ language['imgsrc'] }}" /> </span>
      <input type="text" name="relcatprod_title[{{ language['language_id'] }}]" value="{{ relcatprod_title[language['language_id']] }}" placeholder="{{ entry_relcatprod_title }}" id="input-relcatprod_title{{ language['language_id'] }}" class="form-control" />
    </div>
    {% endfor %}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="input-relcatprod_category_str_id">{{ entry_relcatprod_category_id }}</label>
  <div class="col-sm-10">
    <input type="text" name="relcatprod_category_str_id" value="" placeholder="{{ entry_relcatprod_category_id }}" id="input-relcatprod_category_str_id" class="form-control" />
    <div id="product-relcatprod_category_str_id" class="well well-sm" style="height: 150px; overflow: auto;">
      {% for relcatprod_category_str_id in relcatprod_category_str_ids %}
      <div id="product-relcatprod_category_str_id{{ relcatprod_category_str_id['category_id'] }}"><i class="fa fa-minus-circle"></i> {{ relcatprod_category_str_id['name'] }}
        <input type="hidden" name="relcatprod_category_str_id[]" value="{{ relcatprod_category_str_id['category_id'] }}" />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script language="javascript">
// relcatprod_category_str_id
$('input[name=\'relcatprod_category_str_id\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'relcatprod_category_str_id\']').val('');

		$('#product-relcatprod_category_str_id' + item['value']).remove();

		$('#product-relcatprod_category_str_id').append('<div id="product-relcatprod_category_str_id' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="relcatprod_category_str_id[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product-relcatprod_category_str_id').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
</script>
</div>