{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-module" data-toggle="tooltip" onclick="$('#svsty').val(1);" title="Save & Stay" class="btn btn-primary">Save & Stay</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a> {{ text_extension_doc }}</div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
 	
	{% if(error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
        <input type="hidden"  name="svsty" id="svsty" />
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_relcatprod_status" id="input-status" class="form-control">
                {% if(module_relcatprod_status) %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div> 
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-img_w">{{ entry_img_w }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_relcatprod_img_w" id="input-img_w" class="form-control" value="{{ module_relcatprod_img_w }}">
             </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-img_h">{{ entry_img_h }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_relcatprod_img_h" id="input-img_h" class="form-control" value="{{ module_relcatprod_img_h }}">
             </div>
          </div>
           
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-desc_len">{{ entry_desc_len }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_relcatprod_desc_len" id="input-desc_len" class="form-control" value="{{ module_relcatprod_desc_len }}">
             </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-newwin">{{ entry_newwin }}</label>
            <div class="col-sm-10">
              <select name="module_relcatprod_newwin" id="input-newwin" class="form-control">
                {% if(module_relcatprod_newwin) %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}